<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administratora | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/admin/dashboard">
            Panel Administratora
        </a>
        >
        <a href="/admin/dashboard/comments">
            Komentarze
        </a>
    </nav>

    <main class="page-content">
        <h1 class="white text-left width100">Komentarze</h1>
        <div class="left-row-wrapper width100 ">
            <input class="form-input width100" id="keywords" type="text" placeholder="Wyszukaj...">
            <button onclick="searchComments()" class="default-button">
                <span class="material-symbols-outlined">
                    search
                </span>
                Wyszukaj
            </button>
        </div>

        <div class="width100 right-row-wrapper flex-wrap">
            <p class="light-gray">Pokazuj</p>
            <select class="form-input-select" name="pageSize" id="pageSize" onchange="searchComments()">
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div class="width100 right-row-wrapper flex-wrap">
            <p class="light-gray">Sortuj</p>
            <select class="form-input-select" name="sortBy" id="sortBy" onchange="searchComments()">
                <option value="Najnowsze" selected>Najnowsze</option>
                <option value="Najstarsze">Najstarsze</option>
            </select>
        </div>
        <div class="left-column-wrapper width100 padding10">
            {{#if commentsData}}
            {{#each commentsData as |comment|}}
            <div id="comment-{{comment.id}}" class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    <div class="left-row-wrapper flex-wrap">
                        {{#with comment.author}}
                        {{>usertag}}
                        {{/with}}
                        <p class="light-gray text-smaller">{{comment.createdAt}}</p>
                    </div>
                    <div class="right-row-wrapper">
                        <a class="hyperlink light-gray" href="/comments/{{comment.id}}" target="_blank">
                            <span class="material-symbols-outlined">
                                open_in_new
                            </span>
                        </a>
                        <div class="hyperlink light-gray"
                            onclick="createDeleteCommentPopup({{comment.id}}, '{{comment.content}}')">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                </div>
                <p class="light-gray width100">{{{comment.content}}}</p>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak plików.</p>
            {{/if}}
        </div>

    </main>

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const sortBy = urlParams.get('sortBy');
            const keywords = urlParams.get('keywords');
            const page = urlParams.get('page');
            const pageSize = urlParams.get('pageSize');

            document.getElementById('keywords').value = keywords || null;
            document.getElementById('sortBy').value = sortBy || document.getElementById('sortBy').value;
            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
            document.getElementById('pageSize').value = pageSize || document.getElementById('pageSize').value;
        }
        setFormValuesFromQueryString();

        function searchComments() {
            const sortBy = document.getElementById('sortBy').value;
            const keywords = document.getElementById('keywords').value;
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }
            const pageSize = document.getElementById('pageSize').value;

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (sortBy) queryParams.set('sortBy', sortBy);
            if (page) queryParams.set('page', page);
            if (pageSize) queryParams.set('pageSize', pageSize);

            const queryString = queryParams.toString();

            window.location.href = `/admin/dashboard/comments?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const keywords = document.getElementById('keywords').value;
            const sortBy = document.getElementById('sortBy').value;
            const pageSize = document.getElementById('pageSize').value;


            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (sortBy) queryParams.set('sortBy', sortBy);
            if (pageSize) queryParams.set('pageSize', pageSize);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/admin/dashboard/comments?${queryString}`;
        }

        async function deleteCommentAsAdmin(id) {
            const commentId = parseInt(id);
            const response = await fetch(`/comments/${commentId}`, {
                method: 'DELETE',
            });

            window.location.reload();
        }
    </script>
    {{>footer}}
</body>

</html>