<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administratora | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/admin/dashboard">
            Panel Administratora
        </a>
    </nav>

    <main class="page-content">
        <h1 class="white text-left width100">Panel Administratora</h1>
        <div class="home-buttons-wrapper">
            <a href="/admin/dashboard/logs" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    history
                </span>
                <h3>Logi</h3>
            </a>
        </div>

        <div class="home-buttons-wrapper">
            <a href="/admin/dashboard/replies" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    reply
                </span>
                <h3>Odpowiedzi</h3>
            </a>

            <a href="/admin/dashboard/comments" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    comment
                </span>
                <h3>Komentarze</h3>
            </a>


        </div>

        <div class="home-buttons-wrapper">
            <a href="/admin/dashboard/transactions" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    account_balance
                </span>
                <h3>Transakcje</h3>
            </a>
        </div>

    </main>
    {{>footer}}
</body>

</html>