<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administratora | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/admin/dashboard">
            Panel Administratora
        </a>
        >
        <a href="/admin/dashboard/transactions">
            Transakcje
        </a>
    </nav>

    <main class="page-content">
        <h1 class="white text-left width100">Transakcje</h1>

        <div class="width100 right-row-wrapper flex-wrap">
            <p class="light-gray">Pokazuj</p>
            <select class="form-input-select" name="pageSize" id="pageSize" onchange="searchTransactions()">
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div class="left-column-wrapper width100 padding10">
            {{#if transactionsData}}
            {{#each transactionsData as |transaction|}}
            <div id="{{transaction.id}}" class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    <div class="left-column-wrapper">
                        {{#with transaction.user}}
                        {{>usertag}}
                        {{/with}}
                        <p class="light-gray text-smaller">{{transaction.createdAt}}</p>

                        <p class="light-gray width100">ID: {{transaction.id}}</p>
                        <p class="light-gray">ID PŁATNOŚCI: {{transaction.paymentId}}</p>
                        <p class="light-gray">STATUS: {{transaction.status}}</p>
                        <p class="light-gray">TYTUŁ: {{transaction.title}}</p>
                        <p class="light-gray">CENA: {{transaction.price}} PLN</p>
                        <p class="light-gray">UTWORZONO: {{transaction.rawCreatedAt}}</p>
                        {{#if transaction.benefitsDone}}
                        <p class="light-gray">ZREALIZOWANO: <span class="green">TAK</span></p>
                        {{else}}
                        <p class="light-gray">ZREALIZOWANO: <span class="red">NIE</span></p>
                        {{/if}}
                    </div>
                </div>
                <p class="light-gray width100">{{{reply.content}}}</p>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak transakcji.</p>
            {{/if}}
        </div>

    </main>

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');
            const pageSize = urlParams.get('pageSize');

            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
            document.getElementById('pageSize').value = pageSize || document.getElementById('pageSize').value;
        }
        setFormValuesFromQueryString();

        function searchTransactions() {
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }
            const pageSize = document.getElementById('pageSize').value;

            const queryParams = new URLSearchParams();
            if (page) queryParams.set('page', page);
            if (pageSize) queryParams.set('pageSize', pageSize);

            const queryString = queryParams.toString();

            window.location.href = `/admin/dashboard/transactions?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const pageSize = document.getElementById('pageSize').value;


            const queryParams = new URLSearchParams();
            if (pageSize) queryParams.set('pageSize', pageSize);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/admin/dashboard/transactions?${queryString}`;
        }

    </script>
    {{>footer}}
</body>

</html>