<div class="audio-box width100">
    <audio id="audioPlayer-{{id}}" style="display: none;" type="audio/mpeg"></audio>
    <div class="audio-box-img-wrapper" onclick="playAudioOnWrapper(this)">
        <img id="audioImg-{{id}}" class="audio-box-img" src="{{imageUrl}}"
            onerror="this.src='/images/audio_default_image.png';">
        <p id="playbackStatus-{{id}}" class="playback-status">
            <span class="material-symbols-outlined">play_arrow</span>
        </p>
    </div>
    <div class="audio-box-details width100">
        {{#if author}}
        <a href="/users/{{author.id}}" class="hyperlink light-gray">
            {{author.username}}
        </a>
        {{/if}}
        <a class="width100 white hyperlink" href="/audio/{{id}}">
            {{title}}
            <br>
            <span class="text-smaller width100 light-gray">
                {{bpm}} BPM | {{key}} ({{keyType}})
                <br>
                {{createdAt}}
            </span>
        </a>
    </div>
    {{#if isPrivate}}
    <div class="right-row-wrapper flex-1">
        <div class="center-row-wrapper default-box padding5" title="Ten plik jest prywatny.">
            <span class="material-symbols-outlined small-icon white">
                lock
            </span>
            <p class="text-smaller white">
                Prywatny
            </p>
        </div>
    </div>
    {{/if}}
</div>

<script>
    async function playAudioOnWrapper(wrapper) {
        const audioId = wrapper.parentElement.querySelector('audio').id.split('-')[1];
        const img = wrapper.querySelector('.audio-box-img');
        const audioPlayer = document.getElementById(`audioPlayer-${audioId}`);
        const playbackStatus = document.getElementById(`playbackStatus-${audioId}`);

        if (!audioPlayer.src) {
            img.classList.add('audio-box-img-load');
            playbackStatus.innerHTML = '<span class="material-symbols-outlined loading-icon">progress_activity</span>';
            try {
                const response = await fetch(`/audio/${audioId}/download`);

                if (!response.ok) {
                    img.classList.remove('audio-box-img-load');
                    playbackStatus.innerHTML = '<span class="material-symbols-outlined">play_arrow</span>';

                    const data = await response.json();
                    const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                    throw new Error(errorMessages);
                }

                const blob = await response.blob();
                const audioUrl = URL.createObjectURL(blob);
                audioPlayer.src = audioUrl;

                resetAllAudio();

                audioPlayer.currentTime = 0;
                audioPlayer.play();
                img.classList.add('audio-box-img-play');
                playbackStatus.innerHTML = '<span class="material-symbols-outlined">pause</span>';
            } catch (error) {
                createAlert("red", `Błąd pobierania pliku audio.<br>${error}`);
            }
        } else {
            if (audioPlayer.paused) {
                resetAllAudio();

                audioPlayer.currentTime = 0;
                audioPlayer.play();
                img.classList.add('audio-box-img-play');
                playbackStatus.innerHTML = '<span class="material-symbols-outlined">pause</span>';
            } else {
                audioPlayer.pause();
                img.classList.remove('audio-box-img-play');
                playbackStatus.innerHTML = '<span class="material-symbols-outlined">play_arrow</span>';
            }
        }
    }



</script>