<footer class='footer'>
    <h3 class='light-gray'>Kontakt</h3>
    <div class='right-row-wrapper light-gray'>
        <p>looppool.kontakt@gmail.com</p>
        <span class='material-symbols-outlined'>
            mail
        </span>
    </div>
    <br />
    <h3 class='light-gray'>Dokumenty</h3>
    <a class='light-gray text-smaller' href='/documents/regulamin.pdf' target='_blank'>
        Regulamin i Polityka Prywatności
    </a>
    {{#if localUserData.isUserAdmin}}
        <a class='light-gray text-smaller' href='/admin/dashboard'>
            Panel Administratora
        </a>
    {{/if}}
    {{#if localUserData.isUserModerator}}
        <a class='light-gray text-smaller' href='/admin/dashboard'>
            Panel Administratora
        </a>
    {{/if}}
</footer>