<nav class="navbar">
    <a href="/" class="navbar-img">
        {{#if localUserData}}
            {{#if localUserData.isUserPremium}}
                <img src="/images/logo_premium.png">
            {{else}}
                <img src="/images/logo.png">
            {{/if}}
        {{else}}
            <img src="/images/logo.png">

        {{/if}}
    </a>
    <div class="navbar-buttons-section">
        {{#if localUserData}}
            <a href="/notifications" class="navbar-button">
                {{#if localUserData.newNotifications}}
                    <h3 class="notification-counter">{{localUserData.newNotifications}}</h3>
                    <span class="material-symbols-outlined green">
                        notifications_active
                    </span>
                {{else}}
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                {{/if}}
            </a>
            {{#unless localUserData.isUserPremium}}
                <a class="default-empty-button" href="/premium">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    Premium
                </a>
            {{/unless}}

            <a class="center-row-wrapper" href="/users/{{localUserData.id}}">
                <img class="author-tag-img" src="{{localUserData.avatarUrl}}"
                    onerror="this.src='/images/user_default_image.png';">
            </a>
        {{else}}
            <a href="/auth/login" class="discord-button padding10">
                <img class="discord-logo" src="/images/discord_logo.png">
                Zaloguj się z Discord
            </a>
        {{/if}}

    </div>
</nav>