<div class="center-row-wrapper padding10 width100">
    <a class="hyperlink white" type="button" onclick="changePage(-1)">
        <span class="material-symbols-outlined">
            navigate_before
        </span>
    </a>

    <p class="white">
        Strona
    </p>
    <p class="white" id="page">
        {{currentPage}}
    </p>
    <p class="white">
        z
    </p>
    <p class="white" id="totalPages">
        {{totalPages}}
    </p>

    <a class="hyperlink white" type="button" onclick="changePage(1)">
        <span class="material-symbols-outlined">
            navigate_next
        </span>
    </a>
</div>