<a class="author-tag" href="/users/{{id}}">
    <img class="author-tag-img" src="{{avatarUrl}}" onerror="this.src='/images/user_default_image.png';">

    {{#if isUserAdmin}}
        <h3 class="red hyperlink">
            {{username}}
        </h3>
    {{else}}
        {{#if isUserModerator}}
            <h3 class="blue hyperlink">
                {{username}}
            </h3>
        {{else}}
            {{#if isUserPremium}}
                <h3 class="gold hyperlink">
                    {{username}}
                </h3>
            {{else}}
                <h3 class="white hyperlink">
                    {{username}}
                </h3>
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if verified}}
        <span class="material-symbols-outlined gold small-icon" title="Zweryfikowany">
            verified
        </span>
    {{/if}}
    {{#if isUserOnline}}
        <span class="material-symbols-outlined real-green small-icon" title="{{username}} jest teraz online!">
            sensors
        </span>
    {{/if}}
</a>