<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    <main class="page-content">
        <div class="center-column-wrapper flex-1">
            <img class="error-img" src="/images/error.png">
            <h2 class="text-center width100 red ">{{error.message}}</h2>
            <a href="{{backUrl}}" class="hyperlink light-gray">
                Powrót
            </a>
        </div>
    </main>

    {{>footer}}
</body>

</html>