<!DOCTYPE html>
<html>

<head>
    <meta name="google-site-verification" content="J9tBByb48jJQD7Spe6Z6LyDf4eFt4DvP9-6dQ0JCCtY" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"
        content="Loop-Pool - bezpłatne publikowanie i pobieranie plików dźwiękowych. Zanurz się w świat muzyki. Dołącz do naszego forum!">
    <meta name="description"
        content="Loop-Pool - bezpłatne publikowanie i pobieranie plików dźwiękowych. Zanurz się w świat muzyki. Dołącz do naszego forum!">
    <meta property="og:image" content="/images/og_image.png">
    <title>Loop Pool - dźwięki, sample i loopy w jednym miejscu!</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
    </nav>

    <main class="page-content">
        <img class="home-img" src="/images/forum-banner.png">
        <br>
        <div class="home-buttons-wrapper">
            <a href="/audio?category=Bity" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    piano
                </span>
                <h3>Bity</h3>
            </a>
            <a href="/audio?category=Loopy i Sample" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    laps
                </span>
                <h3>Loopy i Sample</h3>
            </a>
            <a href="/audio?category=Wokale" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    mic
                </span>
                <h3>Wokale</h3>
            </a>
        </div>

        <div class="home-buttons-wrapper-no-wrap">
            <a href="/users" class="home-button width100">
                <span class="material-symbols-outlined">
                    groups
                </span>
                <h3>Użytkownicy</h3>
            </a>
            <a href="/offers" class="home-button flex-1">
                <span class="material-symbols-outlined">
                    campaign
                </span>
                <h3>Oferty</h3>
            </a>
        </div>


        <h1 class="white text-left width100 margin-top">Forum</h1>
        <div class="right-row-wrapper width100 flex-wrap">
            <input class="form-input flex-1" id="keywords" type="text" placeholder="Wyszukaj...">
            <button onclick="searchTopics()" class="default-button">
                <span class="material-symbols-outlined">
                    search
                </span>
                Wyszukaj
            </button>
        </div>

        {{#if localUserData}}
        <div class="width100 bottom-border padding10"></div>
        <div class="right-row-wrapper width100">
            <button class="default-empty-button" onclick="createCreateTopicPopup()">
                Utwórz temat
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
        {{/if}}

        <div class="left-column-wrapper width100">
            {{#if topicsData}}
            {{#each topicsData as |topic|}}

            <div class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    {{#with topic.author}}
                    {{>usertag}}
                    {{/with}}
                    {{#if topic.isPinned}}
                    <span class="material-symbols-outlined green">
                        push_pin
                    </span>
                    {{/if}}
                </div>
                <a href="/topics/{{topic.id}}" class="width100 left-column-wrapper hyperlink white">
                    <h3 class="width100">{{topic.title}}</h3>

                    <div class="space-between-row-wrapper flex-wrap width100">
                        <p class="light-gray text-smaller">
                            {{topic.followedBy.length}} obserwujących • {{topic.replies.length}} odpowiedzi
                        </p>
                        <p class="light-gray text-smaller">
                            {{topic.createdAt}}
                        </p>
                    </div>
                </a>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak tematów.</p>
            {{/if}}
        </div>
    </main>


    {{>footer}}

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const keywords = urlParams.get('keywords');
            const page = urlParams.get('page');

            document.getElementById('keywords').value = keywords || null;
            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function searchTopics() {
            const keywords = document.getElementById('keywords').value;
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (page) queryParams.set('page', page);

            const queryString = queryParams.toString();

            window.location.href = `/?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const keywords = document.getElementById('keywords').value;

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/?${queryString}`;
        }
    </script>
</body>

</html>