<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powiadomienia | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/notifications">
            Powiadomienia
        </a>
    </nav>

    <main class="page-content">
        <h1 class="white text-left width100">Powiadomienia</h1>

        <div class="center-column-wrapper width100">
            {{#if notificationsData}}
            {{#each notificationsData as |notification|}}
            {{#if notification.open}}
            <a class="left-column-wrapper default-box padding10 width100" href="{{notification.redirectUrl}}">
                <p class="light-gray text-right text-smaller">{{notification.createdAt}}</p>
                <p class="light-gray width100">{{{notification.content}}}</p>
            </a>
            {{else}}
            <a class="left-column-wrapper default-green-box padding10 width100" href="{{notification.redirectUrl}}">
                <p class="black text-right text-smaller">{{notification.createdAt}}</p>
                <p class="black width100">{{{notification.content}}}</p>
            </a>
            {{/if}}
            {{/each}}
            {{else}}
            <div class="left-row-wrapper width100">
                <p class="light-gray">Brak powiadomień.</p>
            </div>
            {{/if}}
        </div>
    </main>
    {{>footer}}
</body>

</html>