<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/premium">
            Premium
        </a>
    </nav>

    <main class="page-content">
        <img class="home-img" src="/images/premium-banner.png">
        <h2 class="green width100 text-center">Podnieś swoje doświadczenie na nowy poziom.</h2>
        <h3 class="white width100 text-center">Odkryj korzyści członkostwa Premium!</h3>

        <div class="width100 bottom-border padding10 margin-top"></div>
        <a class="width100" href="https://hotpay.pl/" target="_blank">
            <img class="home-img" src="/images/hotpay.png">
        </a>

        <div class="left-column-wrapper width100">
            <select class="form-input-select width100" id="premiumType" onchange="goToPayment()">
                <option value="D7" selected>7 Dni (5.00 PLN)</option>
                <option value="D14">14 Dni (9.00 PLN)</option>
                <option value="D30">30 Dni (15.00 PLN)</option>
            </select>
            <div class="left-row-wrapper width100">
                <input type="checkbox" id="acceptCheckbox_0" class="form-input-classic-checkbox">
                <p class="light-gray">Oświadczam, że zapoznałem się z treścią <a href="/documents/regulamin.pdf"
                        target="_blank" class="hyperlink white">regulaminu</a> serwisu i go akceptuję. </p>
            </div>

            <div class="left-row-wrapper width100">
                <input type="checkbox" id="acceptCheckbox_1" class="form-input-classic-checkbox">
                <p class="light-gray">Zgadzam się na natychmiastowe rozpoczęcie świadczenia usługi i rezygnuję z prawa
                    do odstąpienia od umowy.</p>
            </div>


        </div>
        <div class="right-row-wrapper width100">
            <button class="default-button" onclick="handlePaymentButtonClick()">
                Przejdź do płatności
                <span class="material-symbols-outlined">
                    payment
                </span>
            </button>
        </div>

        <div class="left-row-wrapper width100 margin-top">
            <span class="material-symbols-outlined gold">
                frame_person
            </span>
            <h3 class="gold width100">Ekskluzywna Personalizacja Profilu!</h3>
        </div>
        <p class="light-gray width100">
            Podziwiaj swoją złotą nazwę użytkownika i zyskaj dostęp do wgrywania ruchomych zdjęć (GIF). Twoje
            zdjęcie profilowe nigdy nie było bardziej wyjątkowe!
        </p>
        <div class="left-row-wrapper width100 margin-top">
            <span class="material-symbols-outlined gold">
                visibility_lock
            </span>
            <h3 class="gold width100">Prywatne Pliki!</h3>
        </div>
        <p class="light-gray width100">
            Pewnych rzeczy nie powinno się pokazywać publicznie... I my też jesteśmy tego zdania!
            <br>
            Dlatego od teraz masz kontrolę nad prywatnością swoich plików. Ukrywaj je przed światem i przyznawaj
            dostęp tylko wybranym użytkownikom w specjalnej zakładce.
        </p>
        <div class="left-row-wrapper width100  margin-top">
            <span class="material-symbols-outlined gold">
                check
            </span>
            <h3 class="gold width100">Po prostu nas wspieraj!</h3>
        </div>



    </main>
    <script>
        function handlePaymentButtonClick() {
            const acceptCheckbox_0 = document.getElementById('acceptCheckbox_0');
            const acceptCheckbox_1 = document.getElementById('acceptCheckbox_1');
            if (!acceptCheckbox_0.checked || !acceptCheckbox_1.checked) {
                createAlert("red", 'Aby kontynuować, zaakceptuj wymagane zgody.');
                return;
            }

            const premiumTypeElement = document.getElementById('premiumType');
            const premiumType = premiumTypeElement.value;

            fetch('/transactions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    premiumType: premiumType,
                }),
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        createAlert("red", 'Błąd przy tworzeniu transakcji.');
                    }
                })
                .then((responseData) => {
                    const paymentLink = responseData.paymentLink;
                    window.location.href = paymentLink;
                })
                .catch((error) => {
                    console.error('Błąd sieci:', error);
                });
        }
    </script>

    {{>footer}}
</body>

</html>