<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferty | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/offers">
            Oferty
        </a>
    </nav>

    <main class="page-content">
        <h1 class="white text-left width100 margin-top">Oferty</h1>
        <div class="right-row-wrapper width100 flex-wrap">
            <input class="form-input flex-1" id="keywords" type="text" placeholder="Wyszukaj...">
            <button onclick="searchOffers()" class="default-button">
                <span class="material-symbols-outlined">
                    search
                </span>
                Wyszukaj
            </button>
        </div>
        <p class="light-gray width100">
            W tym dziale dozwolone jest umieszczanie wszelakich ogłoszeń w związku z wykonywanymi usługami.
            <br>
            Obowiązuje <a href="/documents/regulamin.pdf" target="_blank" class="hyperlink white">regulamin</a>.
        </p>
        <div class="width100 bottom-border padding10"></div>
        <div class="right-row-wrapper width100">
            <button class="default-empty-button" onclick="createCreateOfferPopup()">
                Utwórz ofertę
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>
        <br>

        <div class="left-column-wrapper width100">
            {{#if offersData}}
            {{#each offersData as |offer|}}

            <div class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    <div class="left-row-wrapper flex-wrap">
                        {{#with offer.author}}
                        {{>usertag}}
                        {{/with}}
                        <p class="light-gray text-smaller">{{offer.createdAt}}</p>
                    </div>
                    {{#if offer.isUserAuthor}}
                    <div class="right-row-wrapper">
                        <div class="hyperlink light-gray"
                            onclick="createDeleteOfferPopup({{offer.id}}, '{{offer.title}}')">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <h3 class="width100 green">{{offer.category}}</h3>
                <p class="width100 light-gray">{{offer.content}}</p>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak ofert.</p>
            {{/if}}
        </div>
    </main>


    {{>footer}}

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const keywords = urlParams.get('keywords');
            const page = urlParams.get('page');

            document.getElementById('keywords').value = keywords || null;
            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function searchOffers() {
            const keywords = document.getElementById('keywords').value;
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (page) queryParams.set('page', page);

            const queryString = queryParams.toString();

            window.location.href = `/offers?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const keywords = document.getElementById('keywords').value;

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/offers?${queryString}`;
        }

    </script>
</body>

</html>