<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Użytkownicy | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/audio">
            Pliki
        </a>
        >
        <a href="/audio/{{audioData.id}}">
            {{audioData.title}}
        </a>
        >
        <a href="/audio/{{audioData.id}}/edit">
            Edytuj
        </a>
        >
        <a href="/audio/{{audioData.id}}/edit/access-control">
            Zarządzaj dostępem
        </a>
    </nav>

    <div class="page-content">
        <input id="audioId" type="hidden" value="{{audioData.id}}">

        <h1 class="white text-left width100">Zarządzaj dostępem</h1>
        <p class="light-gray width100">
            Aby <span class="green">przyznać</span> lub <span class="green">odebrać</span> dostęp do pliku, wpisz
            nazwę użytkownika, a następnie <span class="green">kliknij guzik z kluczykiem</span>.
        </p>
        <div class="right-row-wrapper width100">
            <input class="form-input flex-1" id="username" type="text"
                oninput="this.value = this.value.replace(/\s/g, '')" placeholder="Nazwa użytkownika">
            <button onclick="accesbuttonsubmit()" class="default-button">
                <span class="material-symbols-outlined">
                    key
                </span>
            </button>
        </div>

        {{#if audioData.authorizedUsers}}
        <div class="width100 left-column-wrapper">
            {{#each audioData.authorizedUsers as |user|}}
            {{#with user}}
            {{>usertag}}
            {{/with}}
            {{/each}}
        </div>
        {{/if}}
    </div>

    <script>
        async function accesbuttonsubmit() {
            const audioId = parseInt(document.getElementById('audioId').value);
            var username = document.getElementById("username").value;
            if (username.trim() === "") {
                createAlert("red", 'Wprowadź nazwę użytkownika.');
                return;
            }

            const response = await fetch(`/audio/${audioId}/authorize/${username}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            if (response.ok) {
                document.getElementById("username").value = "";
                window.location.reload();
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                createAlert("red", errorMessages);
            }
        }

        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');
            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const queryParams = new URLSearchParams();
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/users?${queryString}`;
        }
    </script>
    {{>footer}}
</body>

</html>