<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{audioData.title}} | Loop-Pool</title>
    <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel='icon' type='image/png' href="/images/favicon.png" />
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/audio">
            Pliki
        </a>
        >
        <a href="/audio/{{audioData.id}}">
            {{audioData.title}}
        </a>
    </nav>

    <main class="page-content">

        {{#if localUserData.isUserAdmin}}
        <div class="left-column-wrapper width100 default-box padding10">
            <h3 class="green width100"> Uprawnienia specjalne</h3>
            <div class="left-row-wrapper width100 flex-wrap">
                <a class="default-empty-button" href="/audio/{{audioData.id}}/edit">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
                <button class="default-empty-button"
                    onclick="createDeleteAudioPopup({{audioData.id}}, '{{audioData.title}}')">
                    Usuń
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
        </div>
        {{/if}}

        {{#if localUserData.isUserModerator}}
        <div class="left-column-wrapper width100 default-box padding10">
            <h3 class="green width100"> Uprawnienia specjalne</h3>
            <div class="left-row-wrapper width100 flex-wrap">
                <a class="default-empty-button" href="/audio/{{audioData.id}}/edit">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
            </div>
        </div>
        {{/if}}
        <div class="margin-top width100"></div>
        <div class="margin-top width100"></div>
        <div class="margin-top width100"></div>

        <input type="hidden" id="audioId" value="{{audioData.id}}">

        <img class="audio-player-img" src="{{audioData.imageUrl}}"
            onerror="this.src='/images/audio_default_image.png';">

        <section class="audio-player-controls padding10">
            <audio loop id="audioPlayer" hidden>
                <source id="sourcePlayer">
            </audio>
            <button id="playButton" class="default-circle-button" onclick="togglePlayback()">
                <span class="material-symbols-outlined">
                    play_arrow
                </span>
            </button>
            <input class="audio-player-controls-timeline" type="range" id="seekbar" value="0" step="0.01"
                onchange="updateSeekbar()">
            <span id="currentTime">0:00</span> / <span id="totalDuration">0:00</span>
        </section>
        <div class="audio-player-controls-second width100 padding10 flex-wrap">
            <div class="left-row-wrapper">
                <button id="muteButton" class="default-circle-empty-button">
                    <span class="material-symbols-outlined">volume_up</span>
                </button>
                <input class="audio-player-controls-volume" type="range" id="volumeBar" min="0" max="1" step="0.01"
                    value="1">
            </div>

            <div class="right-row-wrapper">
                <a id="downloadButton" class="default-button" download>
                    Pobierz
                    <span class="material-symbols-outlined">
                        download
                    </span>
                </a>
                {{#if localUserData.isAudioLiked}}
                <button id="likeButton" class="default-empty-button" onclick="likeAudio()">
                    <span class="material-symbols-outlined">
                        heart_check
                    </span>
                    <p>{{audioData.likes}}</p>
                </button>
                {{else}}
                <button id="likeButton" class="default-button" onclick="likeAudio()">
                    <span class="material-symbols-outlined">
                        heart_plus
                    </span>
                    <p>{{audioData.likes}}</p>
                </button>
                {{/if}}

                {{#if localUserData.isAudioOwner}}
                <a class="default-empty-button" href="/audio/{{audioData.id}}/edit">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
                <button class="default-empty-button"
                    onclick="createDeleteAudioPopup({{audioData.id}}, '{{audioData.title}}')">
                    Usuń
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                {{/if}}
            </div>
        </div>

        <div class="left-column-wrapper width100 bottom-border padding10">
            <h2 class="white width100">
                {{audioData.title}}
            </h2>
        </div>

        <div class="right-row-wrapper width100 flex-wrap">


        </div>
        <div class="left-column-wrapper width100 default-box padding10">
            <div class="left-row-wrapper width100 flex-wrap">
                {{#with audioData.author}}
                {{>usertag}}
                {{/with}}
                <p class="light-gray">{{audioData.createdAt}}</p>
            </div>

            {{#if audioData.description}}
            <p class="light-gray width100">{{{audioData.description}}}</p>
            <div class="width100"></div>
            {{/if}}
            <div class="width100 bottom-border"></div>
            <p class="light-gray">Kategoria: <span class="green">{{audioData.category}}</span></p>
            <p class="light-gray">Tempo: <span class="green">{{audioData.bpm}} BPM</span></p>
            <p class="light-gray">Klucz: <span class="green">{{audioData.key}} ({{audioData.keyType}})</span></p>
        </div>
        <br>

        <div class="space-between-row-wrapper width100 flex-wrap margin-top">
            <h2 class="white">Komentarze</h2>
            <div class="right-row-wrapper width100 flex-wrap">
                <textarea class="form-input-textarea flex-1" type="text" id="comment-content" name="comment-content"
                    rows="1" placeholder="Pisz tutaj..."></textarea>
                <button class="default-button align-self-end" type="button"
                    onclick="sendComment({{audioData.id}}, this)">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>
        <div class="left-column-wrapper width100">
            {{#if audioData.comments}}
            {{#each audioData.comments as |comment|}}
            <div id="comment-{{comment.id}}" class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    <div class="left-row-wrapper flex-wrap">
                        {{#with comment.author}}
                        {{>usertag}}
                        {{/with}}
                        <p class="light-gray text-smaller">{{comment.createdAt}}</p>
                    </div>
                    {{#if comment.isUserAuthor}}
                    <div class="right-row-wrapper">
                        <div class="hyperlink light-gray"
                            onclick="createDeleteCommentPopup({{comment.id}}, '{{comment.content}}')">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <p class="light-gray width100">{{{comment.content}}}</p>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak komentarzy.</p>
            {{/if}}


        </div>
    </main>

    <script>
        const audioId = parseInt(document.getElementById('audioId').value);

        const playButton = document.getElementById('playButton');
        const muteButton = document.getElementById('muteButton');
        const volumeBar = document.getElementById('volumeBar');
        const audioPlayer = document.getElementById('audioPlayer');
        const sourcePlayer = document.getElementById('sourcePlayer');
        const downloadButton = document.getElementById('downloadButton');

        const seekbar = document.getElementById('seekbar');
        const currentTimeDisplay = document.getElementById('currentTime');
        const totalDurationDisplay = document.getElementById('totalDuration');
        let isSeeking = false;

        async function togglePlayback() {
            if (!sourcePlayer.src) {
                return;
            }

            if (audioPlayer.paused) {
                audioPlayer.play();
                playButton.innerHTML = '<span class="material-symbols-outlined">pause</span>';
                playButton.className = "default-circle-empty-button";
            } else {
                audioPlayer.pause();
                playButton.innerHTML = '<span class="material-symbols-outlined">play_arrow</span>';
                playButton.className = "default-circle-button";
            }
        }

        function updateSeekbar() {
            if (!isSeeking) {
                var seekValue = (audioPlayer.currentTime / audioPlayer.duration) * 100;
                seekbar.value = seekValue || 0;
            }
        }

        function updateTimeDisplay() {
            var currentMinutes = Math.floor(audioPlayer.currentTime / 60) || 0;
            var currentSeconds = Math.floor(audioPlayer.currentTime % 60) || 0;
            var totalMinutes = Math.floor(audioPlayer.duration / 60) || 0;
            var totalSeconds = Math.floor(audioPlayer.duration % 60) || 0;

            currentTimeDisplay.textContent = currentMinutes + ':' + (currentSeconds < 10 ? '0' : '') + currentSeconds;
            totalDurationDisplay.textContent = totalMinutes + ':' + (totalSeconds < 10 ? '0' : '') + totalSeconds;
        }

        audioPlayer.addEventListener('timeupdate', function () {
            if (!isSeeking) {
                updateSeekbar();
                updateTimeDisplay();
            }
        });

        audioPlayer.addEventListener('loadedmetadata', function () {
            seekbar.max = 100;
            updateTimeDisplay();
        });

        seekbar.addEventListener('input', function () {
            isSeeking = true;
            var seekValue = seekbar.value;
            var newTime = (seekValue / 100) * audioPlayer.duration;

            var minutes = Math.floor(newTime / 60) || 0;
            var seconds = Math.floor(newTime % 60) || 0;
            currentTimeDisplay.textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        });

        seekbar.addEventListener('change', function () {
            isSeeking = false;
            var seekValue = seekbar.value;
            var newTime = (seekValue / 100) * audioPlayer.duration;
            audioPlayer.currentTime = newTime;
            updateTimeDisplay();
        });

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const queryParams = new URLSearchParams();
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/audio/${audioId}?${queryString}`;
        }

        //LIKE AUDIO
        const likeButton = document.getElementById('likeButton');
        async function likeAudio() {
            likeButton.setAttribute('disabled', '');
            const beforeInnerHTML = likeButton.innerHTML;
            likeButton.innerHTML = '<span class="material-symbols-outlined loading-icon">progress_activity</span>';
            const response = await fetch(`/audio/${audioId}/like`, {
                method: 'POST',
            });

            if (response.ok) {
                const { isLiked, likeCount } = await response.json();
                const buttonClass = isLiked ? 'default-empty-button' : 'default-button';
                const icon = isLiked ? 'heart_check' : 'heart_plus';

                likeButton.classList.add(buttonClass);
                likeButton.classList.remove(isLiked ? 'default-button' : 'default-empty-button');
                likeButton.innerHTML = `<span class="material-symbols-outlined">${icon}</span><p>${likeCount}</p>`;
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                likeButton.innerHTML = beforeInnerHTML;
                createAlert("red", errorMessages);
            }
            likeButton.removeAttribute('disabled');
        }

        async function sendComment(audioId, createButton) {
            createButton.setAttribute('disabled', '');
            createButton.innerHTML =
                '<span class="material-symbols-outlined loading-icon">progress_activity</span>';

            const contentInput = document.getElementById('comment-content');
            const content = contentInput.value;

            const rawData = {
                content: content,
            };
            const dataToSend = JSON.stringify(rawData);

            const response = await fetch(`/audio/${audioId}/comments`, {
                method: 'POST',
                body: dataToSend,
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                contentInput.value = "";
                createAlert("green", "Pomyślnie dodałeś komentarz.", "Kliknij, aby zobaczyć.", `/comments/${data.id}`);
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                createAlert("red", errorMessages);
            }
            createButton.removeAttribute('disabled');
            createButton.innerHTML = '<span class="material-symbols-outlined">send</span>';
        }

        //AUDIO VOLUME CONTROL
        function toggleMuteAudioPlayer(player) {
            if (player.muted) {
                // Unmute
                const savedVolume = localStorage.getItem('audioPlayerVolume');
                player.volume = savedVolume !== null ? parseFloat(savedVolume) : 1;
                player.muted = false;
                localStorage.setItem('audioPlayerMuted', 'false');
                muteButton.innerHTML = `<span class="material-symbols-outlined">volume_up</span>`;
            } else {
                // Mute
                localStorage.setItem('audioPlayerVolume', player.volume);
                player.muted = true;
                localStorage.setItem('audioPlayerMuted', 'true');
                muteButton.innerHTML = `<span class="material-symbols-outlined">volume_off</span>`;
            }
            volumeBar.value = player.muted ? 0 : player.volume;
        }

        function saveAudioPlayerVolume(volume) {
            localStorage.setItem('audioPlayerVolume', volume);
        }

        function updateAudioPlayerVolume(volume) {
            audioPlayer.volume = volume;
            saveAudioPlayerVolume(volume);

            if (volume > 0) {
                audioPlayer.muted = false;
                localStorage.setItem('audioPlayerMuted', 'false');
                muteButton.innerHTML = `<span class="material-symbols-outlined">volume_up</span>`;
            } else {
                audioPlayer.muted = true;
                localStorage.setItem('audioPlayerMuted', 'true');
                muteButton.innerHTML = `<span class="material-symbols-outlined">volume_off</span>`;
            }
        }

        volumeBar.addEventListener('input', (event) => {
            const newVolume = parseFloat(event.target.value);
            updateAudioPlayerVolume(newVolume);
        });

        muteButton.addEventListener('click', () => {
            toggleMuteAudioPlayer(audioPlayer);
        });

        //LOAD
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');

            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function loadAudioPlayerVolume(player) {
            const savedVolume = localStorage.getItem('audioPlayerVolume');
            const isMuted = localStorage.getItem('audioPlayerMuted') === 'true';

            player.volume = savedVolume !== null ? parseFloat(savedVolume) : 1;
            player.muted = isMuted;

            volumeBar.value = isMuted ? 0 : player.volume;
            muteButton.innerHTML = isMuted
                ? `<span class="material-symbols-outlined">volume_off</span>`
                : `<span class="material-symbols-outlined">volume_up</span>`;
        }
        loadAudioPlayerVolume(audioPlayer);


        async function loadAudio() {
            playButton.setAttribute('disabled', '');
            downloadButton.setAttribute('disabled', '');
            playButton.innerHTML = '<span class="material-symbols-outlined loading-icon">progress_activity</span>';
            downloadButton.innerHTML = 'Ładowanie <span class="material-symbols-outlined loading-icon">progress_activity</span>';

            try {
                const response = await fetch(`/audio/${audioId}/download`);

                if (!response.ok) {
                    throw new Error('Failed to fetch audio');
                }

                const reader = response.body.getReader();
                const contentLength = +response.headers.get('Content-Length');
                let receivedLength = 0;
                let chunks = [];

                while (true) {
                    const { done, value } = await reader.read();

                    if (done) {
                        break;
                    }

                    chunks.push(value);
                    receivedLength += value.length;

                    const percentage = (receivedLength / contentLength) * 100;

                    if (percentage === 100) {
                        const blob = new Blob(chunks, { type: response.headers.get('Content-Type') });
                        const audioUrl = URL.createObjectURL(blob);

                        downloadButton.href = audioUrl;
                        sourcePlayer.src = audioUrl;
                        audioPlayer.load();
                        updateSeekbar();

                        playButton.innerHTML = '<span class="material-symbols-outlined">play_arrow</span>';
                        downloadButton.innerHTML = 'Pobierz <span class="material-symbols-outlined">download</span>';
                        playButton.removeAttribute('disabled');
                        downloadButton.removeAttribute('disabled');
                    }
                }
            } catch (error) {
                console.error(error);
                playButton.innerHTML = '<span class="material-symbols-outlined">warning</span>';
                downloadButton.innerHTML = '<span class="material-symbols-outlined">file_download_off</span>Błąd wczytywania';
            }
        }

        loadAudio();

    </script>
    {{>footer}}
</body>

</html>