<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wgraj plik | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/audio">
            Pliki
        </a>
        >
        <a href="/create-audio">
            Dodaj
        </a>
    </nav>

    <main class="page-content">

        <form id="uploadForm" enctype="multipart/form-data" class="form">

            <h1 class="white text-left width100">Utwórz plik</h1>
            <div class="center-row-wrapper padding10 margin-top">
                <img class="audio-player-img" src="/images/audio_default_image.png" id="imagePreview"
                    onerror="this.src='/images/audio_default_image.png';">
            </div>
            <br>

            <h3 class="white">Zdjęcie</h3>
            <div class="right-row-wrapper width100 flex-wrap">
                <input class="form-input flex-1" type="text" name="imageUrl" id="imageUrl" placeholder="URL">
                <button class="default-empty-button" type="button" onclick="updateImagePreview()">
                    Odśwież
                    <span class="material-symbols-outlined">
                        frame_reload
                    </span>
                </button>
            </div>
            <br>

            <h3 class="white">Plik</h3>
            <input class="form-input-file" type="file" name="audioFile" id="audioFile" accept="audio/wav, audio/mpeg"
                required>
            <p class="light-gray text-smaller">Maksymalny rozmiar pliku to <span class="green">30MB</span>.</p>
            <p class="light-gray text-smaller">Akceptowane są tylko pliki w formatach <span class="green">WAV</span>
                i <span class="green">MP3</span>.</p>

            <br>

            <h3 class="white">Kategoria</h3>
            <select class="form-input-select" name="category" id="category" required>
                <option value="" selected></option>
                <option value="Bity">Bity</option>
                <option value="Loopy i Sample">Loopy i Sample</option>
                <option value="Wokale">Wokale</option>
                <option value="Inne">Inne</option>
            </select>
            <br>

            <h3 class="white">Tytuł</h3>
            <input class="form-input" type="text" name="title" id="title" required>
            <br>

            <h3 class="white">Opis</h3>
            <textarea class="form-input-textarea" type="text" name="description" id="description" rows="4"></textarea>
            <br>

            <h3 class="white">Tempo</h3>
            <div class="left-row-wrapper">
                <input class="form-input flex-1" type="text" name="bpm" id="bpm"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="3" value="{{audioData.bpm}}"
                    required>
                <p class="light-gray text-smaller">BPM</p>
            </div>
            <br>

            <h3 class="white">Klucz</h3>
            <select class="form-input-select" name="key" id="key">
                <option value="Nieznany">Nieznany</option>
                <option value="A">A</option>
                <option value="A#">A#</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="C#">C#</option>
                <option value="D">D</option>
                <option value="D#">D#</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="F#">F#</option>
                <option value="G">G</option>
                <option value="G#">G#</option>
                <option value="Ab">Ab</option>
                <option value="Bb">Bb</option>
                <option value="Db">Db</option>
                <option value="Eb">Eb</option>
                <option value="Gb">Gb</option>
            </select>
            <select class="form-input-select" name="keyType" id="keyType">
                <option value="Nieznany">Nieznany</option>
                <option value="Major">Major</option>
                <option value="Minor">Minor</option>
            </select>
            <br>

            <div class="space-between-row-wrapper padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Prywatny
                    </h3>
                    <p class="light-gray text-smaller">
                        Plik będzie dostępny tylko dla zatwierdzonych użytkowników.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="isPrivate" name="isPrivate">
            </div>
            <br>

            <button id="default-button margin-top" type="submit" class="default-button margin-top"
                onclick="buttonSubmit(this)">
                Opublikuj
                <span class="material-symbols-outlined">
                    public
                </span>
            </button>

        </form>
    </main>

    <script>
        async function buttonSubmit(button) {
            const url = '/audio';
            const methodType = 'POST';

            button.setAttribute('disabled', true);
            button.innerHTML = 'Proszę czekać <span class="material-symbols-outlined loading-icon">progress_activity</span>';

            // DATA
            const form = document.getElementById('uploadForm');
            const formData = new FormData(form);
            const isPrivateCheckbox = document.getElementById('isPrivate');
            const isPrivate = isPrivateCheckbox.checked;

            try {
                const response = await fetch(url, {
                    method: methodType,
                    body: formData,
                });

                if (response.ok) {
                    const data = await response.json();
                    if (isPrivate) {
                        await fetch(`/audio/${data.id}`, {
                            method: "PATCH",
                            body: JSON.stringify({ ...data, isPrivate: isPrivate }),
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        });
                    }

                    window.location.href = `/audio/${data.id}`;
                    return;
                } else {
                    const data = await response.json();
                    const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                    createAlert("red", errorMessages);
                }
            } catch (error) {
                createAlert("red", error);
            } finally {
                button.removeAttribute('disabled');
                button.innerHTML = 'Opublikuj <span class="material-symbols-outlined">public</span>';
            }
        }



        function updateImagePreview() {
            const imageUrlInput = document.getElementById('imageUrl');
            const imagePreview = document.getElementById('imagePreview');

            const imageUrl = imageUrlInput.value;
            imagePreview.src = imageUrl;
        }

    </script>
    {{>footer}}
</body>

</html>