<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Loop-Pool">
    <meta property="og:description"
        content="Loop-Pool - bezpłatne publikowanie i pobieranie plików dźwiękowych. Zanurz się w świat muzyki. Dołącz do naszego forum!">
    <meta property="og:image" content="/images/og_image.png">
    <title>{{audioData.title}} | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/audio">
            Pliki
        </a>
        >
        <a href="/audio/{{audioData.id}}">
            {{audioData.title}}
        </a>
        >
        <a href="/audio/{{audioData.id}}/edit">
            Edytuj
        </a>
    </nav>

    <main class="page-content">

        <form class="form">
            <input id="audioId" type="hidden" value="{{audioData.id}}">

            <h1 class="white text-left width100">Edytuj plik</h1>
            <div class="center-row-wrapper padding10 margin-top">
                <img class="audio-player-img" src="{{audioData.imageUrl}}" id="imagePreview"
                    onerror="this.src='/images/audio_default_image.png';">
            </div>
            <br>

            <h3 class="white">Zdjęcie</h3>
            <div class="right-row-wrapper width100 flex-wrap">
                <input class="form-input flex-1" type="text" name="imageUrl" id="imageUrl" placeholder="URL"
                    value="{{audioData.imageUrl}}">
                <button class="default-empty-button" type="button" onclick="updateImagePreview()">
                    Odśwież
                    <span class="material-symbols-outlined">
                        frame_reload
                    </span>
                </button>
            </div>
            <br>

            <h3 class="white">Kategoria</h3>
            <select class="form-input-select" name="category" id="category" required>
                <option value="{{audioData.category}}" selected>{{audioData.category}}</option>
                <option value="Bity">Bity</option>
                <option value="Loopy i Sample">Loopy i Sample</option>
                <option value="Wokale">Wokale</option>
                <option value="Inne">Inne</option>
            </select>
            <br>

            <h3 class="white">Tytuł</h3>
            <input class="form-input" type="text" name="title" id="title" value="{{audioData.title}}" required>
            <br>

            <h3 class="white">Opis</h3>
            <textarea class="form-input-textarea" type="text" name="description" id="description"
                rows="4">{{{audioData.description}}}</textarea>
            <br>

            <h3 class="white">Tempo</h3>
            <div class="left-row-wrapper">
                <input class="form-input flex-1" type="text" name="bpm" id="bpm"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="3" value="{{audioData.bpm}}"
                    required>
                <p class="light-gray text-smaller">BPM</p>
            </div>
            <br>

            <h3 class="white">Klucz</h3>
            <select class="form-input-select" name="key" id="key">
                <option value="{{audioData.key}}">{{audioData.key}}</option>
                <option value="A">A</option>
                <option value="A#">A#</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="C#">C#</option>
                <option value="D">D</option>
                <option value="D#">D#</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="F#">F#</option>
                <option value="G">G</option>
                <option value="G#">G#</option>
                <option value="Ab">Ab</option>
                <option value="Bb">Bb</option>
                <option value="Db">Db</option>
                <option value="Eb">Eb</option>
                <option value="Gb">Gb</option>
            </select>
            <select class="form-input-select" name="keyType" id="keyType">
                <option value="{{audioData.keyType}}">{{audioData.keyType}}</option>
                <option value="Major">Major</option>
                <option value="Minor">Minor</option>
            </select>
            <br>

            <div class="space-between-row-wrapper padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Prywatny
                    </h3>
                    <p class="light-gray text-smaller">
                        Plik będzie dostępny tylko dla zatwierdzonych użytkowników.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="isPrivate" name="isPrivate" {{#if
                    audioData.isPrivate}}checked{{/if}}>
            </div>
            {{#if audioData.isPrivate}}
            <a class="default-empty-button width100" href="/audio/{{audioData.id}}/edit/access-control">
                Zarządzaj dostępem
                <span class="material-symbols-outlined">
                    key
                </span>
            </a>
            {{/if}}

            <br>

            <button id="default-button margin-top" type="submit" class="default-button margin-top"
                onclick="buttonSubmit(this)">
                Zapisz
                <span class="material-symbols-outlined">
                    done
                </span>
            </button>
        </form>
    </main>

    <script>

        async function buttonSubmit(button) {
            const audioId = parseInt(document.getElementById('audioId').value);

            const url = `/audio/${audioId}`;
            const methodType = 'PATCH';

            button.setAttribute('disabled', '');
            button.innerHTML = 'Proszę czekać <span class="material-symbols-outlined loading-icon">progress_activity</span>';

            //DATA
            const imageUrlInput = document.getElementById('imageUrl');
            const titleInput = document.getElementById('title');
            const descriptionInput = document.getElementById('description');
            const categoryInput = document.getElementById('category');
            const bpmInput = document.getElementById('bpm');
            const keyInput = document.getElementById('key');
            const keyTypeInput = document.getElementById('keyType');
            const isPrivateInput = document.getElementById('isPrivate');

            const imageUrl = imageUrlInput.value;
            const title = titleInput.value;
            const description = descriptionInput.value;
            const category = categoryInput.value;
            const bpm = parseInt(bpmInput.value);
            const key = keyInput.value;
            const keyType = keyTypeInput.value;
            const isPrivate = isPrivateInput.checked;

            const rawData = {
                imageUrl: imageUrl,
                title: title,
                description: description,
                category: category,
                bpm: bpm,
                key: key,
                keyType: keyType,
                isPrivate: isPrivate,
            };

            const dataToSend = JSON.stringify(rawData);
            //DATA-END

            try {
                const response = await fetch(url, {
                    method: methodType,
                    body: dataToSend,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const data = await response.json();
                    const id = data.id;
                    window.location.reload();
                } else {
                    const data = await response.json();
                    const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                    createAlert("red", errorMessages);
                }
            } catch (error) {
                createAlert("red", error);
            }
            button.removeAttribute('disabled');
            button.innerHTML = 'Zapisz<span class="material-symbols-outlined">done</span>';
        }

        function updateImagePreview() {
            const imageUrlInput = document.getElementById('imageUrl');
            const imagePreview = document.getElementById('imagePreview');

            const imageUrl = imageUrlInput.value;
            imagePreview.src = imageUrl;
        }

    </script>
    {{>footer}}
</body>

</html>