<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Loop-Pool">
    <meta property="og:description"
        content="Loop-Pool - bezpłatne publikowanie i pobieranie plików dźwiękowych. Zanurz się w świat muzyki. Dołącz do naszego forum!">
    <meta property="og:image" content="/images/og_image.png">
    <title>Pliki | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/audio">
            Pliki
        </a>
    </nav>

    <div class="page-content">
        <div class="space-between-row-wrapper width100 flex-wrap">
            <h1 class="white text-left flex-1">Pliki</h1>
            <a href="/create-audio" class="default-button">
                <span class="material-symbols-outlined">
                    upload
                </span>
                Dodaj plik
            </a>
        </div>
        <div class="width100 top-border padding10"></div>
        <form id="searchForm" class="search-form-wrapper width100">
            <div class="left-column-wrapper width100">
                <h3 class="light-gray">Słowa klucz</h3>
                <input class="form-input width100" id="keywords" type="text" placeholder="Szukaj...">
            </div>

            <div class="left-column-wrapper">
                <h3 class="light-gray">Kategoria</h3>
                <select class="form-input-select" name="category" id="category">
                    <option value="">Wszystkie</option>
                    <option value="Bity">Bity</option>
                    <option value="Loopy i Sample">Loopy i Sample</option>
                    <option value="Wokale">Wokale</option>
                    <option value="Inne">Inne</option>
                </select>
            </div>

            <div class="left-column-wrapper">
                <h3 class="light-gray">Tempo</h3>
                <div class="center-row-wrapper">
                    <input class="search-form-input-number" type="text" id="minBpm" name="minBpm" placeholder="Min."
                        pattern="[0-9]" maxlength="3">
                    <p class="light-gray" for="maxBpm">-</p>
                    <input class="search-form-input-number" type="text" id="maxBpm" name="maxBpm" placeholder="Max."
                        pattern="[0-9]" maxlength="3">
                </div>
            </div>

            <div class="left-column-wrapper">
                <h3 class="light-gray">Klucz</h3>
                <div class="center-row-wrapper">
                    <select class="form-input-select" name="key" id="key">
                        <option value="">Wszystkie</option>
                        <option value="A">A</option>
                        <option value="A">A</option>
                        <option value="A#">A#</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="C#">C#</option>
                        <option value="D">D</option>
                        <option value="D#">D#</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="F#">F#</option>
                        <option value="G">G</option>
                        <option value="G#">G#</option>
                        <option value="Ab">Ab</option>
                        <option value="Bb">Bb</option>
                        <option value="Db">Db</option>
                        <option value="Eb">Eb</option>
                        <option value="Gb">Gb</option>
                    </select>
                    <select class="form-input-select" name="keyType" id="keyType">
                        <option value="">Wszystkie</option>
                        <option value="Major">Major</option>
                        <option value="Minor">Minor</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="right-row-wrapper flex-wrap width100">
            <button onclick="resetQuery()" class="default-empty-button">
                <span class="material-symbols-outlined">
                    restart_alt
                </span>
                Resetuj
            </button>
            <button onclick="searchAudio()" class="default-button ">
                <span class="material-symbols-outlined">
                    search
                </span>
                Szukaj
            </button>
        </div>
        <div class="width100 bottom-border padding10"></div>
        <div class="space-between-row-wrapper width100 flex-wrap">
            <h2 class="white ">
                Pliki
            </h2>
            <div class="center-row-wrapper flex-wrap">
                <p class="light-gray">Sortuj</p>
                <select class="form-input-select" name="sortBy" id="sortBy" onchange="searchAudio()">
                    <option value="Najnowsze" selected>Najnowsze</option>
                    <option value="Najstarsze">Najstarsze</option>
                </select>
            </div>
        </div>
        {{#if audioData.length}}
        <div class="audio-wrapper">
            {{#each audioData as |audio|}}
            {{#with audio}}
            {{>audiobox}}
            {{/with}}
            {{/each}}
        </div>
        {{>pagenavbar}}
        {{else}}
        <p class="light-gray width100">Brak plików.</p>
        {{/if}}
    </div>

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const minBpm = urlParams.get('minBpm');
            const maxBpm = urlParams.get('maxBpm');
            const key = urlParams.get('key');
            const keyType = urlParams.get('keyType');
            const category = urlParams.get('category');
            const sortBy = urlParams.get('sortBy');
            const keywords = urlParams.get('keywords');
            const page = urlParams.get('page');


            document.getElementById('keywords').value = keywords || null;
            document.getElementById('minBpm').value = minBpm || '';
            document.getElementById('maxBpm').value = maxBpm || '';
            document.getElementById('key').value = key || '';
            document.getElementById('keyType').value = keyType || '';
            document.getElementById('category').value = category || '';
            document.getElementById('sortBy').value = sortBy || document.getElementById('sortBy').value;
            if (document.getElementById('page')) {
                const pageElement = document.getElementById('page');
                if (pageElement) {
                    pageElement.innerHTML = page || 1;
                }
            }
        }
        setFormValuesFromQueryString();

        function resetQuery() {
            window.location.href = `/audio`;
        }

        function searchAudio() {
            const minBpm = document.getElementById('minBpm').value;
            const maxBpm = document.getElementById('maxBpm').value;
            const key = document.getElementById('key').value;
            const keyType = document.getElementById('keyType').value;
            const category = document.getElementById('category').value;
            const sortBy = document.getElementById('sortBy').value;
            const keywords = document.getElementById('keywords').value;
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }

            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (minBpm) queryParams.set('minBpm', minBpm);
            if (maxBpm) queryParams.set('maxBpm', maxBpm);
            if (key) queryParams.set('key', key);
            if (keyType) queryParams.set('keyType', keyType);
            if (category) queryParams.set('category', category);
            if (sortBy) queryParams.set('sortBy', sortBy);
            if (page) queryParams.set('page', page);

            const queryString = queryParams.toString();

            window.location.href = `/audio?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);

            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                if (totalPages == 0) {
                    currentPage = 1;
                } else {
                    currentPage = totalPages;
                }
            }

            const keywords = document.getElementById('keywords').value;
            const minBpm = document.getElementById('minBpm').value;
            const maxBpm = document.getElementById('maxBpm').value;
            const key = document.getElementById('key').value;
            const keyType = document.getElementById('keyType').value;
            const category = document.getElementById('category').value;
            const sortBy = document.getElementById('sortBy').value;


            const queryParams = new URLSearchParams();
            if (keywords) queryParams.set('keywords', keywords);
            if (minBpm) queryParams.set('minBpm', minBpm);
            if (maxBpm) queryParams.set('maxBpm', maxBpm);
            if (key) queryParams.set('key', key);
            if (keyType) queryParams.set('keyType', keyType);
            if (category) queryParams.set('category', category);
            if (sortBy) queryParams.set('sortBy', sortBy);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/audio?${queryString}`;
        }
    </script>
    {{>footer}}
</body>

</html>