* {
  font-family: 'Sans-serif', 'Helvetica';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-wrap: break-word;
}

body {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(1024px, 100%);
  max-width: min(1024px, 100%);
  min-height: 100vh;
  gap: 8px;
}

.material-symbols-outlined {
  font-size: x-large;
}

.large-icon {
  font-size: xx-large !important;
}

.small-icon {
  font-size: large !important;
}

/* ALERT BOX*/
.alert-box-red {
  position: fixed;
  z-index: 200;
  bottom: 25px;
  background-color: #d42a2a;
  color: #313131;
  width: min(768px, 75%);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 25px #313131;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
  animation-iteration-count: 1;
}

.alert-box-green {
  position: fixed;
  z-index: 200;
  bottom: 25px;
  background-color: #29b129;
  color: #313131;
  width: min(768px, 75%);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 25px #313131;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
  animation-iteration-count: 1;
}

.alert-box-gray {
  position: fixed;
  z-index: 200;
  bottom: 25px;
  background-color: #909090;
  color: #313131;
  width: min(768px, 75%);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 25px #313131;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    bottom: 0px;
    opacity: 0;
  }
  100% {
    bottom: 25px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    bottom: 25px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}

/* WELCOME */
.welcome-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.welcome-img-logo {
  max-width: 320px;
  width: min(320px, 100%);
  object-fit: cover;
}

.welcome-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  margin-bottom: 25px;
}

.welcome-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.home-img {
  max-width: 1024px;
  width: min(1024px, 100%);
  object-fit: cover;
}

.error-img {
  max-width: 512px;
  width: min(512px, 100%);
  object-fit: cover;
}

/************************************************************************************************ COOKIES-BOX */
.cookies-box {
  padding: 10px;
  background-color: white;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: center;
  gap: 8px;
  width: min(max-content, 100%);
  box-shadow: 0px 0px 25px #313131;
}

.cookies-box-button {
  padding: 5px 10px;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
}
/************************************************************************************************** POPUP-BOX */
.popup-wrapper {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 101;
}

.popup {
  overflow-y: auto;
  background-color: #161616;
  border-radius: 4px;
  z-index: 102;
  display: flex;
  flex-direction: column;
  width: min(768px, 100%);
  max-height: min(768px, 100%);
}

.popup-header {
  position: sticky;
  top: 0;
  border-radius: 4px 4px 0px 0px;
  background-color: #101010;
  padding: 15px;
}

.popup-close {
  align-self: flex-start;
}

/************************************************************************************************** NAVBAR */
.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #101010;
  width: 100%;
  color: white;
  padding: 5px 30px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
  }
}

.navbar-img {
  height: 75px;
}

.navbar-img img {
  aspect-ratio: 2/1;
  height: 100%;
}

.navbar-buttons-section {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar-buttons-section {
    width: 100%;
    justify-content: space-between;
  }
}

.navbar-button {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: color ease 0.15s;
  color: #909090;
  gap: 5px;
}

.navbar-button:hover {
  color: #7af3d0;
}

.notification-counter {
  aspect-ratio: 1;
  background-color: #7af3d0;
  padding: 2px 5px;
  border-radius: 50%;
  color: #101010;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-user-img {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 40px;
}

.navbar-user-img img {
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.lower-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #909090;
  padding: 10px 30px;
  flex-wrap: wrap;
  border-bottom: 1px solid #909090;
}

.lower-navbar a {
  color: #909090;
  max-width: 100%;
}

.lower-navbar a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  padding: 20px 25px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

/************************************** LOGO ****************************************/
/************************************** LOGO ****************************************/
/************************************** LOGO ****************************************/
/************************************** LOGO ****************************************/
/************************************** LOGO ****************************************/

.discord-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #5865f2;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color ease 0.15s;
  font-weight: bold;
  border: 2px solid #5865f2;
}

.discord-button:hover {
  background-color: #404ab3;
}

.discord-logo {
  width: 24px;
  aspect-ratio: 1;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: #313131;
  border-radius: 4px;
  font-weight: bold;
  transition: border ease 0.15s;
  font-weight: bold;
  border: 2px solid #909090;
  gap: 5px;
}

.link-button:hover {
  border-color: #7af3d0;
}

.link-logo {
  width: 24px;
  aspect-ratio: 1;
}

/*********************************** AUTHOR TAG *************************************/
/*********************************** AUTHOR TAG *************************************/
/*********************************** AUTHOR TAG *************************************/
/*********************************** AUTHOR TAG *************************************/
/*********************************** AUTHOR TAG *************************************/
.author-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  height: 35px;
  align-self: flex-start;
  color: white;
  transition: color ease 0.15s;
}

.author-tag:hover {
  color: #7af3d0;
}

.author-tag-img {
  width: 35px;
  height: 35px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.author-tag-online {
  border: 2px solid #29b129;
}

/************************************* BUTTONS **************************************/
/************************************* BUTTONS **************************************/
/************************************* BUTTONS **************************************/
/************************************* BUTTONS **************************************/
/************************************* BUTTONS **************************************/
.default-button {
  padding: 5px 10px;
  background-color: #7af3d0;
  border: 2px solid #7af3d0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: #161616;
  border-radius: 4px;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  transition: background-color ease 0.15s, color ease 0.15s;
}

.default-button:hover {
  background-color: #161616;
  color: #7af3d0;
}

.default-empty-button {
  padding: 5px 10px;
  background-color: #161616;
  border: 2px solid #7af3d0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: #7af3d0;
  border-radius: 4px;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  transition: background-color ease 0.15s, color ease 0.15s;
}

.default-empty-button:hover {
  background-color: #7af3d0;
  color: #161616;
}

.default-circle-button {
  padding: 5px;
  background-color: #7af3d0;
  border: 2px solid #7af3d0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: #161616;
  border-radius: 50%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  transition: background-color ease 0.15s, color ease 0.15s;
}

.default-circle-button:hover {
  background-color: #161616;
  color: #7af3d0;
}

.default-circle-empty-button {
  padding: 5px;
  background-color: #161616;
  border: 2px solid #7af3d0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: #7af3d0;

  border-radius: 50%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  transition: background-color ease 0.15s, color ease 0.15s;
}

.default-circle-empty-button:hover {
  background-color: #7af3d0;
  color: #161616;
}

/************************************* HELPERS **************************************/
/************************************* HELPERS **************************************/
/************************************* HELPERS **************************************/
/************************************* HELPERS **************************************/
/************************************* HELPERS **************************************/
.width100 {
  width: 100%;
  max-width: 100%;
}

.margin-top {
  margin-top: 25px;
}

.default-box {
  background-color: #313131;
  border-radius: 4px;
}

.default-green-box {
  background-color: #7af3d0;
  border-radius: 4px;
}

.top-border {
  border-top: 1px solid #909090;
}

.bottom-border {
  border-bottom: 1px solid #909090;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-self-end {
  justify-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.white {
  color: white;
}

.green {
  color: #7af3d0;
}

.real-green {
  color: #29b129;
}

.red {
  color: #d42a2a;
}

.blue {
  color: #5865f2;
}

.gold {
  color: #ffd700;
}

.light-gray {
  color: #909090;
}

.black {
  color: #161616;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-smaller {
  font-size: smaller;
}

.text-bold {
  font-weight: bold;
}

.loading-icon {
  animation: rotate-loading-icon 2s infinite linear;
}

.hyperlink {
  text-decoration: none;
  cursor: pointer;
  transition: color ease 0.15s;
}

.hyperlink:hover {
  color: #7af3d0;
}

@keyframes rotate-loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************************************* WRAPPERS *************************************/
/************************************* WRAPPERS *************************************/
/************************************* WRAPPERS *************************************/
/************************************* WRAPPERS *************************************/
/************************************* WRAPPERS *************************************/
.center-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.right-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.space-between-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.space-around-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.center-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.right-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.space-between-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/*************************************** USER ***************************************/
/*************************************** USER ***************************************/
/*************************************** USER ***************************************/
/*************************************** USER ***************************************/
/*************************************** USER ***************************************/
.user-header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 768px) {
  .user-header-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.user-header-right-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .user-header-right-section {
    height: auto;
  }
}

.user-profile-img {
  width: min(100%, 300px);
  height: min(100%, 300px);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.user-details-box {
  padding: 10px;
  flex-grow: 1;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/*************************************** AUDIO **************************************/
/*************************************** AUDIO **************************************/
/*************************************** AUDIO **************************************/
/*************************************** AUDIO **************************************/
/*************************************** AUDIO **************************************/
.audio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 25px;
}

@media (max-width: 768px) {
  .audio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.audio-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: white;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  .audio-box {
    flex-direction: column;
    width: min(250px, 100%);
  }
}

.audio-box-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .audio-box-details {
    flex-direction: column;
    width: min(250px, 100%);
    height: min(250px, 100%);
    justify-content: flex-start;
  }
}

.audio-box-img-wrapper {
  position: relative;
  display: inline-block;
  color: #6cbea7;
}

.audio-box-img-wrapper:hover {
  color: #7af3d0;
}

.audio-box-img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

@media (max-width: 768px) {
  .audio-box-img {
    width: min(250px, 100%);
    height: min(250px, 100%);
  }
}

.playback-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(16, 16, 16, 0.75);
  padding: 10px;
}

/* audio player*/
.audio-player-img {
  width: min(100%, 350px);
  height: min(100%, 350px);
  aspect-ratio: 1;
  object-fit: cover;
}

.audio-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: #7af3d0;
}

.audio-player-controls-timeline {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #313131;
  color: #7af3d0;
  height: 12px;
  border-radius: 4px;
}

.audio-player-controls-timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 12px;
  height: 20px;
  background: #7af3d0;
  cursor: pointer;
  border-radius: 4px;
}

.audio-player-controls-timeline::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 12px;
  height: 20px;
  background: #7af3d0;
  cursor: pointer;
  border-radius: 4px;
}

.audio-player-controls-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: #7af3d0;
}

@media (max-width: 768px) {
  .audio-player-controls-second {
    flex-direction: column;
    align-items: center;
  }
}

/* VOLUME */
.audio-player-controls-volume {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: min(150px, 100%);
  background: #313131;
  color: #7af3d0;
  height: 12px;
  border-radius: 4px;
}

.audio-player-controls-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 12px;
  height: 20px;
  background: #7af3d0;
  cursor: pointer;
  border-radius: 4px;
}

.audio-player-controls-volume::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 12px;
  height: 20px;
  background: #7af3d0;
  cursor: pointer;
  border-radius: 4px;
}

/************************************** FORM ****************************************/
/************************************** FORM ****************************************/
/************************************** FORM ****************************************/
/************************************** FORM ****************************************/
/************************************** FORM ****************************************/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
  width: min(500px, 100%);
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #313131;
  border: none;
  padding: 10px;
  color: #909090;
  border-radius: 4px;
}

.form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #909090;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border-right: 20px solid #313131;
  border-left: 0px solid #313131;
  transition: border ease 0.15s, background-color ease 0.15s;
}

.form-input-checkbox:checked {
  border-right: 0px solid #313131;
  border-left: 20px solid #313131;
  background-color: #7af3d0;
}

.form-input-classic-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #313131;
  padding: 10px;
  border: 2px solid #909090;
  outline: none;
  cursor: pointer;
  transition: background-color ease 0.15s, border-color ease 0.15s;
}

.form-input-classic-checkbox:checked {
  background-color: #6cbea7;
  border-color: #7af3d0;
}

.form-input-select {
  background-color: #313131;
  border: none;
  padding: 10px;
  color: #909090;
  border-radius: 4px;
  cursor: pointer;
}

.form-input-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: vertical;
  min-height: 38px;
  height: auto;
  padding: 7.5px;
  color: #909090;
  background-color: #313131;
  border: none;
  border-radius: 4px;
}

.form-input-file {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #313131;
  border: none;
  padding: 10px;
  color: #909090;
  border-radius: 4px;
  cursor: pointer;
}

::file-selector-button {
  padding: 5px 20px;
  margin-right: 15px;
  outline: none;
  border: none;
  color: #7af3d0;
  background-color: #161616;
  border: 2px solid #7af3d0;
  border-radius: 4px;
  cursor: pointer;
}

/* */
.search-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
}
@media (max-width: 768px) {
  .search-form-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search-form-input-number {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #313131;
  border: none;
  padding: 10px;
  color: #909090;
  border-radius: 4px;
  width: 50px;
}

.search-form-input-number {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #313131;
  border: none;
  padding: 10px;
  color: #909090;
  border-radius: 4px;
  width: 50px;
}

/*************************************** HOME ***************************************/
/*************************************** HOME ***************************************/
/*************************************** HOME ***************************************/
/*************************************** HOME ***************************************/
/*************************************** HOME ***************************************/
.home-buttons-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.home-buttons-wrapper-no-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .home-buttons-wrapper-no-wrap {
    flex-wrap: wrap;
  }
}

.home-button {
  background-color: #161616;
  border: 3px solid #313131;
  color: white;
  padding: 20px;
  min-width: 220px;
  transition: border-color ease 0.15s, color ease 0.15s;
}

.home-button:hover {
  color: #7af3d0;
  border-color: #7af3d0;
}
