<html>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{userData.username}} | Loop-Pool</title>
    <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel='icon' type='image/png' href="/images/favicon.png" />
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/users">
            Użytkownicy
        </a>
        >
        <a href="/users/{{userData.id}}">
            {{userData.username}}
        </a>
        >
        <a href="/users/{{userData.id}}/edit">
            Edytuj
        </a>
    </nav>

    <div class="page-content">
        <form class="form">
            <h1 class="white text-left width100">Edytuj profil</h1>
            <input type="hidden" id="userId" name="userId" value="{{userData.id}}">

            <div class="center-column-wrapper width100 margin-top">
                <img class="user-profile-img" id="imagePreview" src="{{userData.avatarUrl}}"
                    onerror="this.src='/images/user_default_image.png';">
            </div>

            <h3 class="white margin-top">Zdjęcie profilowe</h3>
            <div class="space-between-row-wrapper">
                <input class="form-input width100" type="text" id="imageUrl" name="imageUrl"
                    value="{{userData.avatarUrl}}" placeholder="URL">
                <button class="default-empty-button" type="button" onclick="updateImagePreview()">
                    Odśwież
                    <span class="material-symbols-outlined">
                        frame_reload
                    </span>
                </button>
            </div>
            <br>

            <h3 class="white">Nazwa użytkownika</h3>
            <input class="form-input width100" type="text" id="username" name="username" value="{{userData.username}}">
            <br>

            <h3 class="white">O mnie</h3>
            <textarea class="form-input-textarea" type="text" id="aboutMe" name="aboutMe"
                rows="4">{{{userData.aboutMe}}}</textarea>
            <br>

            <div class="width100 bottom-border padding10"></div>

            <h3 class="white">Instagram</h3>
            <input class="form-input flex-1" type="text" id="instagramUrl" name="instagramUrl"
                value="{{userData.instagramUrl}}" maxlength="100">
            <br>

            <h3 class="white">SoundCloud</h3>
            <input class="form-input flex-1" type="text" id="soundCloudUrl" name="soundCloudUrl"
                value="{{userData.soundCloudUrl}}" maxlength="300">
            <br>

            <h3 class="white">YouTube</h3>
            <input class="form-input flex-1" type="text" id="youtubeUrl" name="youtubeUrl"
                value="{{userData.youtubeUrl}}" maxlength="300">
            <br>

            <h3 class="white">Facebook</h3>
            <input class="form-input flex-1" type="text" id="facebookUrl" name="facebookUrl"
                value="{{userData.facebookUrl}}" maxlength="300">
            <br>

            <h3 class="white">Spotify</h3>
            <input class="form-input flex-1" type="text" id="spotifyUrl" name="spotifyUrl"
                value="{{userData.spotifyUrl}}" maxlength="300">
            <br>

            <div class="space-between-row-wrapper padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Hiperłącze Discord
                    </h3>
                    <p class="light-gray text-smaller">
                        Pokazuj hiperłącze powiązanego profilu Discord na stronie profilowej.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="showDiscordProfile" name="showDiscordProfile"
                    {{#if userData.showDiscordProfile}}checked{{/if}}>
            </div>
            <br>

            <div class="space-between-row-wrapper padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Aktywność
                    </h3>
                    <p class="light-gray text-smaller">
                        Pokazuj datę ostatniego logowania na stronie profilowej.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="showLastOnline" name="showLastOnline" {{#if
                    userData.showLastOnline}}checked{{/if}}>
            </div>
            <br>

            <button class="default-button margin-top" type="button" id="submitButton" onclick="buttonSubmit(this)">
                Zapisz
                <span class="material-symbols-outlined">done</span>
            </button>
        </form>
    </div>

    <script>
        async function buttonSubmit(button) {
            button.setAttribute('disabled', '');
            button.innerHTML = 'Proszę czekać <span class="material-symbols-outlined loading-icon">progress_activity</span>';
            const id = parseInt(document.getElementById('userId').value);
            const url = `/users/${id}`;
            const methodType = 'PATCH';
            const redirectUrl = `/users/${id}`;

            //DATA
            const imageUrlInput = document.getElementById('imageUrl');
            const usernameInput = document.getElementById('username');
            const aboutMeInput = document.getElementById('aboutMe');
            const instagramUrlInput = document.getElementById('instagramUrl');
            const soundCloudUrlInput = document.getElementById('soundCloudUrl');
            const youtubeUrlInput = document.getElementById('youtubeUrl');
            const facebookUrlInput = document.getElementById('facebookUrl');
            const spotifyUrlInput = document.getElementById('spotifyUrl');
            const showDiscordProfileInput = document.getElementById('showDiscordProfile');
            const showLastOnlineInput = document.getElementById('showLastOnline');

            const username = usernameInput.value;
            const showDiscordProfile = showDiscordProfileInput.checked;
            const showLastOnline = showLastOnlineInput.checked;
            const imageUrl = imageUrlInput.value;
            const aboutMe = aboutMeInput.value;
            const instagramUrl = instagramUrlInput.value;
            const soundCloudUrl = soundCloudUrlInput.value;
            const youtubeUrl = youtubeUrlInput.value;
            const facebookUrl = facebookUrlInput.value;
            const spotifyUrl = spotifyUrlInput.value;

            const rawData = {
                username: username,
                showDiscordProfile: showDiscordProfile,
                avatarUrl: imageUrl,
                aboutMe: aboutMe,
                showLastOnline: showLastOnline,
                instagramUrl: instagramUrl,
                soundCloudUrl: soundCloudUrl,
                youtubeUrl: youtubeUrl,
                facebookUrl: facebookUrl,
                spotifyUrl: spotifyUrl,
            };
            const dataToSend = JSON.stringify(rawData)
            //DATA-END

            try {
                const response = await fetch(url, {
                    method: methodType,
                    body: dataToSend,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    if (redirectUrl) {
                        createAlert("green", "Twoje zmiany zostały zapisane");
                    }
                } else {
                    const data = await response.json();
                    const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                    createAlert("red", errorMessages);
                    button.innerHTML = 'Zapisz <span class="material-symbols-outlined">done</span>';
                }
            } catch (error) {
                console.error(error);
                createAlert("red", error);
            }
            button.removeAttribute('disabled');
        }

        function updateImagePreview() {
            const imageUrlInput = document.getElementById('imageUrl');
            const imagePreview = document.getElementById('imagePreview');
            const imageUrl = imageUrlInput.value;
            imagePreview.src = imageUrl;
        }
    </script>
    {{>footer}}
</body>

</html>