<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{userData.username}} | Loop-Pool</title>
    <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel='icon' type='image/png' href="/images/favicon.png" />
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/users">
            Użytkownicy
        </a>
        >
        <a href="/users/{{userData.id}}">
            {{userData.username}}
        </a>
        >
        <a href="/users/{{userData.id}}/manage">
            Zarządzaj
        </a>
    </nav>

    <div class="page-content">
        <form class="form">
            <h1 class="white text-left width100">Zarządzaj użytkownikiem</h1>
            <input type="hidden" id="userId" name="userId" value="{{userData.id}}">

            <div class="center-column-wrapper width100 margin-top">
                <img class="user-profile-img" id="imagePreview" src="{{userData.avatarUrl}}"
                    onerror="this.src='/images/user_default_image.png';">
            </div>

            <h3 class="white margin-top">Zdjęcie profilowe</h3>
            <div class="right-row-wrapper width100 flex-wrap">
                <input class="form-input flex-1" type="text" id="imageUrl" name="imageUrl"
                    value="{{userData.avatarUrl}}" placeholder="URL">
                <button class="default-empty-button" type="button" onclick="updateImagePreview()">
                    Odśwież
                    <span class="material-symbols-outlined">
                        frame_reload
                    </span>
                </button>
            </div>
            <br>

            <h3 class="white">Nazwa użytkownika</h3>
            <input class="form-input width100" type="text" id="username" name="username" value="{{userData.username}}">
            <br>

            <h3 class="white">O mnie</h3>
            <textarea class="form-input-textarea" type="text" id="aboutMe" name="aboutMe"
                rows="4">{{{userData.aboutMe}}}</textarea>
            <br>

            <h3 class="white">Instagram</h3>
            <input class="form-input flex-1" type="text" id="instagramUrl" name="instagramUrl"
                value="{{userData.instagramUrl}}" maxlength="100">
            <br>

            <h3 class="white">SoundCloud</h3>
            <input class="form-input flex-1" type="text" id="soundCloudUrl" name="soundCloudUrl"
                value="{{userData.soundCloudUrl}}" maxlength="300">
            <br>

            <h3 class="white">YouTube</h3>
            <input class="form-input flex-1" type="text" id="youtubeUrl" name="youtubeUrl"
                value="{{userData.youtubeUrl}}" maxlength="300">
            <br>

            <h3 class="white">Facebook</h3>
            <input class="form-input flex-1" type="text" id="facebookUrl" name="facebookUrl"
                value="{{userData.facebookUrl}}" maxlength="300">
            <br>

            <h3 class="white">Spotify</h3>
            <input class="form-input flex-1" type="text" id="spotifyUrl" name="spotifyUrl"
                value="{{userData.spotifyUrl}}" maxlength="300">
            <br>

            <div class="space-between-row-wrapper  padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Hiperłącze Discord
                    </h3>
                    <p class="light-gray text-smaller">
                        Pokazuj hiperłącze powiązanego profilu Discord na stronie profilowej.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="showDiscordProfile" name="showDiscordProfile"
                    {{#if userData.showDiscordProfile}}checked{{/if}}>
            </div>
            <br>

            <div class="space-between-row-wrapper  padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Aktywność
                    </h3>
                    <p class="light-gray text-smaller">
                        Pokazuj datę ostatniego logowania na stronie profilowej.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="showLastOnline" name="showLastOnline" {{#if
                    userData.showLastOnline}}checked{{/if}}>
            </div>
            <br>

            <div class="space-between-row-wrapper  padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Zweryfikowany
                    </h3>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="verified" name="verified" {{#if
                    userData.verified}}checked{{/if}}>
            </div>
            <br>

            <h2 class="white margin-top">Uprawnienia</h2>
            <div class="space-between-row-wrapper  padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Administrator
                    </h3>
                    <p class="red text-smaller">
                        Członek z tą rolą zyskuje wszystkie uprawnienia.
                    </p>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="isUserAdmin" name="isUserAdmin" {{#if
                    userData.isUserAdmin}}checked{{/if}}>
            </div>
            <br>

            <div class="space-between-row-wrapper  padding10 top-border">
                <div class="left-column-wrapper flex-1">
                    <h3 class="white">
                        Moderator
                    </h3>
                </div>
                <input class="form-input-checkbox" type="checkbox" id="isUserModerator" name="isUserModerator" {{#if
                    userData.isUserModerator}}checked{{/if}}>
            </div>
            <br>

            <h3 class="white margin-top">Członkostwo Premium (wygasa)</h3>
            <input class="form-input" type="date" id="premiumPlanExpiration" name="premiumPlanExpiration"
                value="{{userData.premiumPlanExpiration}}">
            <br>

            <button class="default-button margin-top" type="button" id="submitButton" onclick="buttonSubmit(this)">
                Zapisz
                <span class="material-symbols-outlined">done</span>
            </button>
        </form>
    </div>

    <script>
        async function buttonSubmit(button) {
            button.setAttribute('disabled', '');
            button.innerHTML = 'Proszę czekać <span class="material-symbols-outlined loading-icon">progress_activity</span>';
            const id = parseInt(document.getElementById('userId').value);
            const url = `/users/${id}`;
            const methodType = 'PUT';
            const redirectUrl = `/users/${id}`;

            //DATA
            const imageUrlInput = document.getElementById('imageUrl');
            const usernameInput = document.getElementById('username');
            const aboutMeInput = document.getElementById('aboutMe');
            const isUserAdminInput = document.getElementById('isUserAdmin');
            const isUserModeratorInput = document.getElementById('isUserModerator');
            const showDiscordProfileInput = document.getElementById('showDiscordProfile');
            const showLastOnlineInput = document.getElementById('showLastOnline');
            const premiumPlanExpirationInput = document.getElementById('premiumPlanExpiration');
            const instagramUrlInput = document.getElementById('instagramUrl');
            const soundCloudUrlInput = document.getElementById('soundCloudUrl');
            const youtubeUrlInput = document.getElementById('youtubeUrl');
            const facebookUrlInput = document.getElementById('facebookUrl');
            const spotifyUrlInput = document.getElementById('spotifyUrl');
            const verifiedInput = document.getElementById('verified');

            const imageUrl = imageUrlInput.value;
            const username = usernameInput.value;
            const aboutMe = aboutMeInput.value;
            const isUserAdmin = isUserAdminInput.checked;
            const isUserModerator = isUserModeratorInput.checked;
            const showDiscordHiperlink = showDiscordProfileInput.checked;
            const showLastOnline = showLastOnlineInput.checked;
            const premiumPlanExpiration = premiumPlanExpirationInput.value;
            const instagramUrl = instagramUrlInput.value;
            const soundCloudUrl = soundCloudUrlInput.value;
            const youtubeUrl = youtubeUrlInput.value;
            const facebookUrl = facebookUrlInput.value;
            const spotifyUrl = spotifyUrlInput.value;
            const verified = verifiedInput.checked;

            const rawData = {
                avatarUrl: imageUrl,
                username: username,
                aboutMe: aboutMe,
                isUserAdmin: isUserAdmin,
                isUserModerator: isUserModerator,
                premiumPlanExpiration: premiumPlanExpiration,
                showDiscordProfile: showDiscordHiperlink,
                showLastOnline: showLastOnline,
                instagramUrl: instagramUrl,
                soundCloudUrl: soundCloudUrl,
                youtubeUrl: youtubeUrl,
                facebookUrl: facebookUrl,
                spotifyUrl: spotifyUrl,
                verified: verified,
            };
            const dataToSend = JSON.stringify(rawData)
            //DATA-END

            try {
                const response = await fetch(url, {
                    method: methodType,
                    body: dataToSend,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    if (redirectUrl) {
                        window.location.href = redirectUrl;
                    }
                } else {
                    const data = await response.json();
                    const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                    createAlert("red", errorMessages);

                }
            } catch (error) {
                console.error(error);
                createAlert("red", error);
            }
            button.removeAttribute('disabled');
            button.innerHTML = 'Zapisz <span class="material-symbols-outlined">done</span>';
        }

        function updateImagePreview() {
            const imageUrlInput = document.getElementById('imageUrl');
            const imagePreview = document.getElementById('imagePreview');
            const imageUrl = imageUrlInput.value;
            imagePreview.src = imageUrl;
        }
    </script>
    {{>footer}}
</body>

</html>