<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.username}} | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{>navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/users">
            Użytkownicy
        </a>
        >
        <a href="/users/{{userData.id}}">
            {{userData.username}}
        </a>
    </nav>

    <main class="page-content">


        <input type="hidden" id="userId" value="{{userData.id}}">

        <div class="center-column-wrapper width100">
            <img class="user-profile-img" src="{{userData.avatarUrl}}"
                onerror="this.src='/images/user_default_image.png';">
            <div class="center-row-wrapper width100 padding10">
                <h1 class="white">
                    {{userData.username}}
                </h1>
                {{#if userData.verified}}
                <span class="material-symbols-outlined gold large-icon" title="Zweryfikowany">
                    verified
                </span>
                {{/if}}
            </div>

            <div class="space-between-row-wrapper flex-wrap width100">
                <div class="left-row-wrapper flex-wrap">
                    {{#if localUserData.isProfileOwner}}
                    <a class="default-button" href="/users/{{userData.id}}/edit">
                        Edytuj profil
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    {{else}}
                    {{#if localUserData.isUserFollower}}
                    <a class="default-empty-button"
                        onclick="followUser({{userData.id}}, '{{userData.username}}', this)">
                        Obserwujesz
                        <span class="material-symbols-outlined">
                            how_to_reg
                        </span>
                    </a>
                    {{else}}
                    <a class="default-button" onclick="followUser({{userData.id}}, '{{userData.username}}', this)">
                        Obserwuj
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </a>
                    {{/if}}
                    {{/if}}
                </div>

                <div class="right-row-wrapper flex-wrap">
                    {{#if userData.instagramUrl}}
                    <a href="{{userData.instagramUrl}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/instagram_logo.png">
                    </a>
                    {{/if}}

                    {{#if userData.soundCloudUrl}}
                    <a href="{{userData.soundCloudUrl}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/soundcloud_logo.png">
                    </a>
                    {{/if}}

                    {{#if userData.youtubeUrl}}
                    <a href="{{userData.youtubeUrl}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/youtube_logo.png">
                    </a>
                    {{/if}}

                    {{#if userData.facebookUrl}}
                    <a href="{{userData.facebookUrl}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/facebook_logo.png">
                    </a>
                    {{/if}}

                    {{#if userData.spotifyUrl}}
                    <a href="{{userData.spotifyUrl}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/spotify_logo.png">
                    </a>
                    {{/if}}
                    {{#if userData.showDiscordProfile}}
                    <a href="https://discordapp.com/users/{{userData.discordId}}" class="link-button" target="_blank">
                        <img class="link-logo" src="/images/discord_logo.png">
                    </a>
                    {{/if}}
                </div>
            </div>

            {{#if userData.banReason}}
            <div class="left-row-wrapper default-box width100 padding10">
                <span class="material-symbols-outlined red">
                    lock
                </span>
                <p class="red">Użytkownik {{userData.username}} jest zbanowany.</p>
            </div>
            {{/if}}

            {{#if userData.muteReason}}
            <div class="left-row-wrapper default-box width100 padding10">
                <span class="material-symbols-outlined red">
                    block
                </span>
                <p class="red">Użytkownik {{userData.username}} jest wyciszony.</p>
            </div>
            {{/if}}

            {{#if localUserData.isUserAdmin}}
            <div class="left-column-wrapper width100 default-box padding10">
                <div class="left-row-wrapper width100 flex-wrap">
                    <a class="default-empty-button" href="/users/{{userData.id}}/edit">
                        Edytuj
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    <a class="default-empty-button" href="/users/{{userData.id}}/manage">
                        Zarządzaj
                        <span class="material-symbols-outlined">
                            manage_accounts
                        </span>
                    </a>
                    {{#if userData.banReason}}
                    <button class="default-empty-button"
                        onclick="createUnbanUserPopup({{userData.id}}, '{{userData.username}}', '{{userData.banReason}}')">
                        Odbanuj
                        <span class=" material-symbols-outlined">
                            lock_open
                        </span>
                    </button>
                    {{else}}
                    <button class="default-empty-button"
                        onclick="createBanUserPopup({{userData.id}}, '{{userData.username}}')">
                        Zbanuj
                        <span class=" material-symbols-outlined">
                            lock
                        </span>
                    </button>
                    {{/if}}
                    {{#if userData.muteReason}}
                    <button class="default-empty-button"
                        onclick="createUnmuteUserPopup({{userData.id}}, '{{userData.username}}', '{{userData.muteReason}}')">
                        Odcisz
                        <span class=" material-symbols-outlined">
                            sync
                        </span>
                    </button>
                    {{else}}
                    <button class="default-empty-button"
                        onclick="createMuteUserPopup({{userData.id}}, '{{userData.username}}')">
                        Wycisz
                        <span class=" material-symbols-outlined">
                            block
                        </span>
                    </button>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            {{#if localUserData.isUserModerator}}
            <div class="left-column-wrapper width100 default-box padding10">
                <div class="left-row-wrapper width100 flex-wrap">
                    <a class="default-empty-button" href="/users/{{userData.id}}/edit">
                        Edytuj
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    {{#if userData.muteReason}}
                    <button class="default-empty-button"
                        onclick="createUnmuteUserPopup({{userData.id}}, '{{userData.username}}', '{{userData.muteReason}}')">
                        Odcisz
                        <span class=" material-symbols-outlined">
                            sync
                        </span>
                    </button>
                    {{else}}
                    <button class="default-empty-button"
                        onclick="createMuteUserPopup({{userData.id}}, '{{userData.username}}')">
                        Wycisz
                        <span class=" material-symbols-outlined">
                            block
                        </span>
                    </button>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            <div class="center-column-wrapper width100 padding10  top-border bottom-border">

                <div class="space-around-row-wrapper width100 flex-wrap">
                    <div class="user-details-box">
                        {{#if userData.isUserAdmin}}
                        <p class="red">Administratorzy</p>
                        {{else}}
                        {{#if userData.isUserModerator}}
                        <p class="blue">Moderatorzy</p>
                        {{else}}
                        <p class="white">Użytkownicy</p>
                        {{/if}}
                        {{/if}}
                        <p class="light-gray">Grupa</p>
                    </div>
                    <div class="user-details-box">
                        {{#if userData.isUserPremium}}
                        <p class="gold">Premium</p>
                        {{else}}
                        <p class="white">Darmowe</p>
                        {{/if}}
                        <p class="light-gray">Członkowstwo</p>
                    </div>


                    {{#if userData.showLastOnline}}
                    <div class="user-details-box">
                        {{#if userData.isUserOnline}}
                        <p class="real-green">Teraz</p>
                        {{else}}
                        <p class="white">{{userData.lastOnline}}</p>
                        {{/if}}
                        <p class="light-gray">Ostatnio aktywny</p>
                    </div>
                    {{/if}}
                    <div class="user-details-box">
                        <p class="white">{{userData.registredAt}}</p>
                        <p class="light-gray">Zarejestrowany</p>
                    </div>
                </div>

                <div class="space-around-row-wrapper width100 flex-wrap">

                    <div class="user-details-box default-box">
                        <p id="followersCounter" class="white">{{userData.followers}}</p>
                        <a class="hyperlink light-gray" href="/users/{{userData.id}}/followers">Obserwujących</a>
                    </div>
                    <div class="user-details-box default-box">
                        <p class="white">{{userData.following}}</p>
                        <a class="hyperlink light-gray" href="/users/{{userData.id}}/following">Obserwuje</a>
                    </div>
                </div>
            </div>

            {{#if userData.aboutMe}}
            <div class="left-column-wrapper width100 bottom-border">
                <h2 class="white">O mnie</h2>
                <p class="light-gray width100">{{{userData.aboutMe}}}</p>
                <br>
            </div>
            {{/if}}

            <div class="space-between-row-wrapper width100">
                <h2 class="white">Pliki</h2>
                {{#if localUserData.isProfileOwner}}
                <a class="default-button" href="/create-audio">
                    <span class="material-symbols-outlined">
                        upload
                    </span>
                    Dodaj plik
                </a>
                {{/if}}
            </div>

            {{#if userData.audio.length}}
            <div class="audio-wrapper">
                {{#each userData.audio as |audio|}}
                {{#with audio}}
                {{>audiobox}}
                {{/with}}
                {{/each}}
            </div>
            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak plików.</p>
            {{/if}}
        </div>
    </main>

    <script>
        const userId = parseInt(document.getElementById('userId').value);

        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');

            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const queryParams = new URLSearchParams();
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/users/${userId}?${queryString}`;
        }

        async function followUser(userId, username, button) {
            button.setAttribute('disabled', '');
            button.innerHTML = '<span class="material-symbols-outlined loading-icon">progress_activity</span>';
            const response = await fetch(`/users/${userId}/follow`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                if (data.status == true) {
                    createAlert("green", `Obserwujesz ${username}`);
                    button.innerHTML = ' Obserwujesz<span class="material-symbols-outlined">how_to_reg</span>';
                    button.className = "default-empty-button";
                } else {
                    createAlert("gray", `Przestałeś obserwować ${username}`);
                    button.innerHTML = 'Obserwuj<span class="material-symbols-outlined">add</span>';
                    button.className = "default-button"
                }
                document.getElementById('followersCounter').textContent = data.followersCount;
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                createAlert("red", errorMessages);
            }
            button.removeAttribute('disabled');

        }
    </script>
    {{>footer}}
</body>

</html>