<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.username}} | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/users">
            Użytkownicy
        </a>
        >
        <a href="/users/{{userData.id}}">
            {{userData.username}}
        </a>
        >
        <a href="/users/{{userData.id}}/followers">
            Obserwujący
        </a>
    </nav>

    <div class="page-content">
        <input id="userId" type="hidden" value="{{userData.id}}">

        <h1 class="white text-left width100">Obserwujący</h1>
        <div class="width100 top-border padding10"></div>

        {{#if userData.followers}}
        <div class="width100 left-column-wrapper">
            {{#each userData.followers as |follower|}}
            {{#with follower}}
            {{>usertag}}
            {{/with}}
            {{/each}}
        </div>
        {{else}}
        <p class="light-gray width100">Brak użytkowników.</p>
        {{/if}}
    </div>

    {{>footer}}
</body>

</html>