<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Użytkownicy | Loop-Pool</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}

    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/users">
            Użytkownicy
        </a>
    </nav>

    <div class="page-content">
        <h1 class="white text-left width100">Użytkownicy</h1>
        <div class="left-row-wrapper width100 ">
            <input class="form-input width100" id="username" type="text" placeholder="Wyszukaj...">
            <button onclick="searchUsers()" class="default-button">
                <span class="material-symbols-outlined">
                    search
                </span>
                Wyszukaj
            </button>
        </div>
        <div class="width100 bottom-border padding10"></div>
        <div class="width100 right-row-wrapper flex-wrap">
            <p class="light-gray">Sortuj</p>
            <select class="form-input-select" name="sortBy" id="sortBy" onchange="searchUsers()">
                <option value="A-Z" selected>A - Z</option>
                <option value="Z-A">Z - A</option>
            </select>
        </div>

        {{#if usersData}}
        <div class="width100 left-column-wrapper">
            {{#each usersData as |user|}}
            {{#with user}}
            {{>usertag}}
            {{/with}}
            {{/each}}

            {{>pagenavbar}}
        </div>
        {{/if}}


    </div>

    <script>
        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const sortBy = urlParams.get('sortBy');
            const username = urlParams.get('username');
            const page = urlParams.get('page');

            document.getElementById('username').value = username || null;
            document.getElementById('sortBy').value = sortBy || document.getElementById('sortBy').value;
            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        function searchUsers() {
            const sortBy = document.getElementById('sortBy').value;
            const username = document.getElementById('username').value;
            const pageInput = document.getElementById('page');
            let page;
            if (pageInput) {
                page = pageInput.value;
            }

            const queryParams = new URLSearchParams();
            if (username) queryParams.set('username', username);
            if (sortBy) queryParams.set('sortBy', sortBy);
            if (page) queryParams.set('page', page);

            const queryString = queryParams.toString();

            window.location.href = `/users?${queryString}`;
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const username = document.getElementById('username').value;
            const sortBy = document.getElementById('sortBy').value;


            const queryParams = new URLSearchParams();
            if (username) queryParams.set('username', username);
            if (sortBy) queryParams.set('sortBy', sortBy);
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/users?${queryString}`;
        }
    </script>
    {{>footer}}
</body>

</html>