<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{topicData.title}} | Loop-Pool</title>
    <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel='icon' type='image/png' href="/images/favicon.png" />
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/cookies.js" defer></script>
</head>

<body>
    {{> navbar}}
    <nav class="lower-navbar">
        <a href="/">
            LoopPool
        </a>
        >
        <a href="/topics/{{topicData.id}}">
            {{topicData.title}}
        </a>
    </nav>

    <main class="page-content">
        {{#if localUserData.isUserAdmin}}
        <div class="left-column-wrapper width100 default-box padding10">
            <h3 class="green width100"> Uprawnienia specjalne</h3>
            <div class="left-row-wrapper width100 flex-wrap">
                {{#if topicData.isPinned}}
                <button class="default-empty-button" onclick="pinTopic({{topicData.id}})">
                    Odepnij
                    <span class="material-symbols-outlined">
                        push_pin
                    </span>
                </button>
                {{else}}
                <button class="default-button" onclick="pinTopic({{topicData.id}})">
                    Przypnij
                    <span class="material-symbols-outlined">
                        push_pin
                    </span>
                </button>
                {{/if}}
                <button class="default-empty-button"
                    onclick="createEditTopicPopup({{topicData.id}},`{{topicData.title}}`, `{{{topicData.contentRaw}}}`)">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="default-empty-button"
                    onclick="createDeleteTopicPopup({{topicData.id}},`{{topicData.title}}`)">
                    Usuń
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
        </div>
        {{/if}}

        {{#if localUserData.isUserModerator}}
        <div class="left-column-wrapper width100 default-box padding10">
            <h3 class="green width100"> Uprawnienia specjalne</h3>
            <div class="left-row-wrapper width100 flex-wrap">
                {{#if topicData.isPinned }}
                <button class="default-empty-button" onclick="pinTopic({{topicData.id}})">
                    Odepnij
                    <span class="material-symbols-outlined">
                        push_pin
                    </span>
                </button>
                {{else}}
                <button class="default-button" onclick="pinTopic({{topicData.id}})">
                    Przypnij
                    <span class="material-symbols-outlined">
                        push_pin
                    </span>
                </button>
                {{/if}}
                <button class="default-empty-button"
                    onclick="createEditTopicPopup({{topicData.id}},`{{topicData.title}}`, `{{{topicData.contentRaw}}}`)">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </div>
        </div>
        {{/if}}

        <input type="hidden" id="topicId" value="{{topicData.id}}">

        <div class="width100 space-between-row-wrapper flex-wrap">
            {{#if topicData.isPinned}}
            <div class="left-row-wrapper green">
                <span class="material-symbols-outlined">
                    push_pin
                </span>
                <h3>
                    Przypięty
                </h3>
            </div>
            {{else}}
            <br>
            {{/if}}
            <div class="right-row-wrapper flex-wrap">
                {{#if localUserData.isTopicFollowed}}
                <button class="default-empty-button" onclick="followTopic({{topicData.id}})">
                    Obserwujesz
                    <span class="material-symbols-outlined">
                        how_to_reg
                    </span>
                </button>
                {{else}}
                <button class="default-button" onclick="followTopic({{topicData.id}})">
                    Obserwuj
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
                {{/if}}

                {{#if localUserData.isTopicAuthor}}
                <button class="default-empty-button"
                    onclick="createEditTopicPopup({{topicData.id}},`{{topicData.title}}`, `{{{topicData.contentRaw}}}`)">
                    Edytuj
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="default-empty-button"
                    onclick="createDeleteTopicPopup({{topicData.id}},`{{topicData.title}}`)">
                    Usuń
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                {{/if}}
            </div>
        </div>

        <div class="left-column-wrapper width100 default-box padding10">
            <div class="space-between-row-wrapper width100 flex-wrap">
                {{#with topicData.author}}
                {{>usertag}}
                {{/with}}
                <p class="light-gray text-smaller">{{topicData.createdAt}}</p>
            </div>
            <h2 class="white width100">
                {{topicData.title}}
            </h2>
            <p class="light-gray width100">{{{topicData.content}}}</p>

        </div>
        <br>

        <div class="space-between-row-wrapper width100 flex-wrap margin-top">
            <h2 class="white">Odpowiedzi</h2>
            <div class="right-row-wrapper width100 flex-wrap">
                <textarea class="form-input-textarea flex-1" type="text" id="reply-content" name="reply-content"
                    rows="1" placeholder="Pisz tutaj..."></textarea>
                <button class="default-button align-self-end" type="button" onclick="sendReply({{topicData.id}}, this)">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>

        <div class="left-column-wrapper width100">
            {{#if topicData.replies}}
            {{#each topicData.replies as |reply|}}
            <div id="reply-{{reply.id}}" class="left-column-wrapper width100 default-box padding10">
                <div class="space-between-row-wrapper width100 flex-wrap">
                    <div class="left-row-wrapper flex-wrap">
                        {{#with reply.author}}
                        {{>usertag}}
                        {{/with}}
                        <p class="light-gray text-smaller">{{reply.createdAt}}</p>
                    </div>
                    {{#if reply.isUserAuthor}}
                    <div class="right-row-wrapper">
                        <div class="hyperlink light-gray"
                            onclick="createDeleteReplyPopup({{reply.topicParent.id}}, {{reply.id}}, '{{reply.content}}')">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <p class="light-gray width100">{{{reply.content}}}</p>
            </div>
            {{/each}}

            {{>pagenavbar}}
            {{else}}
            <p class="light-gray width100">Brak odpowiedzi.</p>
            {{/if}}


        </div>


    </main>


    {{>footer}}

    <script>
        const topicId = parseInt(document.getElementById('topicId').value);

        function setFormValuesFromQueryString() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');

            const pageElement = document.getElementById('page');
            if (pageElement) {
                pageElement.innerHTML = page || 1;
            }
        }
        setFormValuesFromQueryString();

        async function followTopic(topicId) {
            topicId = parseInt(topicId);
            const response = await fetch(`/topics/${topicId}/follow`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            window.location.reload();
        }

        async function pinTopic(topicId) {
            topicId = parseInt(topicId);
            const response = await fetch(`/topics/${topicId}/pin`, {
                method: 'POST',
            });
            if (response.ok) {
                window.location.reload();
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                createAlert("red", errorMessages);
            }
            window.location.reload();
        }

        async function deleteReply(replyId) {
            const response = await fetch(`/replies/${replyId}`, {
                method: 'DELETE',
            });

            window.location.reload();
        }

        function changePage(i) {
            const totalPages = parseInt(document.getElementById('totalPages').innerHTML);
            let currentPage = parseInt(document.getElementById('page').innerHTML);
            currentPage += parseInt(i);
            if (currentPage < 1) {
                currentPage = 1;
            } else if (currentPage > totalPages) {
                currentPage = totalPages;
            }

            const queryParams = new URLSearchParams();
            queryParams.set('page', currentPage);

            const queryString = queryParams.toString();

            window.location.href = `/topics/${topicId}?${queryString}`;
        }

        async function sendReply(topicId, createButton) {
            createButton.setAttribute('disabled', '');
            createButton.innerHTML =
                '<span class="material-symbols-outlined loading-icon">progress_activity</span>';

            const content = document.getElementById('reply-content').value;

            const rawData = {
                content: content,
            };
            const dataToSend = JSON.stringify(rawData);

            const response = await fetch(`/topics/${topicId}/replies`, {
                method: 'POST',
                body: dataToSend,
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                window.location.href = `/replies/${data.id}`;
            } else {
                const data = await response.json();
                const errorMessages = Array.isArray(data.message) ? data.message.join('<br>') : data.message;
                createAlert("red", errorMessages);

                createButton.removeAttribute('disabled');
                createButton.innerHTML = '<span class="material-symbols-outlined">send</span>';
            }
        }

    </script>
</body>

</html>